[2020-02-20 13:42] sergioisidoro commented on #279
Here's the repo with the replicated issue:
https://github.com/sergioisidoro/rails-project-sandbox

To replicate the situation we just need to de-comment that line 43 of the Gemfile
https://github.com/sergioisidoro/rails-project-sandbox/blob/master/Gemfile#L43

Note: This can also be me doing something extremely wrong. And thank you for taking the time to help out :)

[2020-02-20 14:00] sergioisidoro commented on #279
Also, with all gems setup (minitest + rspec + rswag), and if I remove that strange hybrid of minitest/spec, leaving only the second test, everything gets evaluated but no assertions are made.

`test_test.rb`
[code]

[code]

But as soon as I comment `rswag` again, it runs and assertions are made.

[code]

[2020-02-21 14:17] sergioisidoro commented on #279
So, I've navigated a bit on the repo, and I'm wondering if the loading of rspec/core here could be the reason: https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs.rb#L1

This issue https://github.com/rspec/rspec-core/issues/2301 may lead to the answer, and some linked issues should provide some light on loading rspec-core: https://github.com/rspec/rspec-rails/pull/1678

I'm not

[2020-02-22 06:37] amuntasim commented on #244
Instead of using `response` block, I'm using this:

[code]

[2020-02-25 08:21] sergioisidoro commented on #279
Managed to bypass the issue by using
`gem "rswag-specs", require: false`

and by doing

`require "rswag/specs"`
in `spec/rails_helper.rb` right after loading `require 'rspec/rails'`

I'm not sure if there's any way of not loading rspec-core, and this is a bit of an edge case, so maybe not worth the effort to refactor.

But at least I could add some documentation for people who might struggle with

[2020-02-27 01:39] ramytamer commented on #260
@BookOfGreg I would be glad to help if you want 🙂

[2020-02-27 20:41] PhilippeChab opened #282 "Is OA 3.0 supported?"
The title says it all. I've seen some issues and PR talking about it but nothing in the README. Or is it a WIP?

[2020-02-27 22:58] BookOfGreg commented on #282
WIP :)
There's a fork that does it already but I'm trying to make one that is backward compatible, at least can support 2 and 3.

[2020-02-27 23:40] PhilippeChab opened #283 "Running tests AND generating doc at the same time?"
Is that possible? The tasks should not generate docs if the tests fail.

[2020-03-02 12:03] zinosama commented on #104
@BookOfGreg being able to support backwards compatibility is great. however, this issue has been here for two years now. imo it's a lot more beneficial for the community to have working but breaking support for 3.0 than no support at all.

It'll be helpful if you can clarify the direction of you're taking with this gem, as well as the best way for folks to contribute (is there a todo or wish list?

[2020-03-02 13:41] J-Swift commented on #104
I normally try to +1 in emoji, but I just had to say I 100% agree with @zinosama - 3.0 support is more important than backwards compatibility in my mind and for my use cases.

Also agree that having a clear framework in place for contributing (what needs to be done etc) will go a long way.

[2020-03-02 15:11] vladflorescu commented on #256
Check https://github.com/rswag/rswag/issues/99. Looks like `collectionFormat: :multi` does the magic.

I found out from the  source code but looks like it's actually documented [here](https://swagger.io/docs/specification/2-0/describing-parameters/).

[2020-03-02 17:37] Kutomore commented on #278
Hi @CarlosUvaSilva the issue was solved on #256 if it's still relevant you might want to check it there.

[2020-03-02 17:38] Kutomore commented on #256
Thanks man, really helpfull @vladflorescu94

[2020-03-02 17:38] #256 closed, assigned to nobody

[2020-03-03 14:35] hlascelles commented on #104
Agree, we would like to try it and help too. _Maybe_ this would be more than a PR (until it is ready to merge back into this repo). Would it need a repo fork with its own issues and so on? And yes, definitely breaking change would be fine for us too.

[2020-03-03 20:40] dongarchive commented on #275
Instead of having a parameter name of `data` why not have a parameter name file that takes in a file

`parameter name: :file, :in => :formData, :type => :file, required: true`

Then just do `let(:file) { Rack::Test::UploadedFile.new($REALARGS) }`

[2020-03-04 21:08] rromanchuk commented on #172
@belgoros try `bundle exec rake 'rswag:ui:copy_assets[public/api-docs]'`

[2020-03-04 22:58] briri commented on #257
thank you @idoqo! Have been struggling with this for 1/2 a day now. rswag should update their generator so that the default `swagger_helper.rb` file does not default to `openapi: '3.0.1'` if they don't fully support it.

[2020-03-04 23:16] Kutomore opened #284 "Test not sending formData parameter"
So, I have the follwing endpoint:
[code]
Which is basically and endpoint to import data from a spreadsheet, the only parameter is said spreadsheet. the documentation works flawlessly and most of the test seems ok, except for the fact that it doesn't actually send the spreadsheet parameter. If I check for the params on a .pry on the controller while runnign rspec I can see that nothing is beign sen

[2020-03-05 13:08] noccor commented on #284
@Kutomore have you tried changing your `consumes 'application/form-data'` to `consumes 'application/x-www-form-urlencoded'` ?

[2020-03-12 17:19] brcebn commented on #222
Almost right. Just need to specify the type. Unless you'll have a `undefined method `to_sym' for nil:NilClass` ([request_factory.rb#L78](https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs/request_factory.rb#L78))

Then:

[code]

[2020-03-16 07:59] jordanmaguire commented on #282
For others looking for the fork, I think this is it: https://github.com/jdanielian/open-api-rswag

[2020-03-17 15:13] #275 closed, assigned to nobody

[2020-03-22 23:58] BookOfGreg commented on #282
https://github.com/rswag/rswag/pull/286

[2020-03-22 23:58] BookOfGreg commented on #104
https://github.com/rswag/rswag/pull/286
Nearly there.

[2020-03-23 00:34] ty-porter opened #287 "`rake rswag` does not correctly generate response models"
@spikeheap mentioned an issue (#270 & [comment](https://github.com/rswag/rswag/issues/268#issuecomment-570533891)) a few months ago regarding `rake rswag` not correctly generating response models.

### **Actual:**
The following code:

[code]

generates the following JSON:

[code]

and produces no model in the UI:

![image](https://imgur.com/57fMq8M.png)

### **Expected:**

According to the [OpenAP

[2020-03-24 16:55] anjumjfax opened #290 "POST json body not appearing in params"
I have this test.
[code]
When I run it in debug mode, I expect `params[:task]` to be the value of the task I set in this test. However:
[code]
This does not look like what I supplied. Why. Currently I am having to use `request.raw_post` in the controller and parse the json manually. It believe `consumes 'application/json'` is declared in the right places, as should be evident above, as well as in

[2020-03-25 13:20] BookOfGreg commented on #287
Agreed, will look at merging the related PR into https://github.com/rswag/rswag/pull/286
Both the Consumes and Produces array are incorrectly handled in the same way.

[2020-03-29 13:49] hlascelles opened #292 "Definition DSL"
We use rswag successfully for routes/tests etc, but there is some repetition when we write out our definitions for our resources. We can reduce some of it by using a small DSL.

Having looked around, we didn't find anything that would fit our needs so are currently doing something like this:

[code]

The output just just a nested hash that we use in rswag as normal.

Does `rswag` intend (or want)

[2020-03-29 19:37] BookOfGreg commented on #292
Is this what swagger definitions are for?
https://github.com/rswag/rswag/blob/master/test-app/spec/swagger_helper.rb#L37
Used as:
https://github.com/rswag/rswag/blob/master/test-app/spec/integration/blogs_spec.rb#L13

Worth noting in our OpenAPI 3.x branch, this will be moved from `/definitions` to `/content/schemas`.

If this is not what you meant let me know.

[2020-03-30 08:15] hlascelles commented on #292
That's the desired output, yes. Once constructed, the `Definition` tree is output to a hash and used there. Our goal was to make their construction just _a little_ more formal. Just glancing through it, I see it:

1. Sets `additionalProperties: false` everywhere.
1. Catches invalid /misspelled hash keys
1. Provides a `required: true` we can make the building of the `required: []` section easier.
1

[2020-04-02 09:19] LewisYoul commented on #273
I have a similar issue with this test:

[code]

The parameter generation when running the specs fails with for those with `in: :query` (the one with `in: :path` works perfectly:

[code]

Then if I change the `in: :query` parameters to not use `schema:` and just use `type:` as the test implies:

[code]

The test then passes but generates invalid swagger documentation:

![image](https://user-images.

[2020-04-02 11:51] LewisYoul commented on #290
Hi I am also having this issue. Parameters being specified as `in: :body` are not being sent to my controller. I am using [grape](https://github.com/ruby-grape/grape). Did you find a solution to this?

[2020-04-02 13:49] LewisYoul commented on #130
Can I ask you @abevoelker how you managed to get these body parameters to render sensibly in the swagger UI? When I nest all of my properties inside a single `body` parameter as @domaindrivendev suggests the request works however when the documentation is generated it only creates a single `body` parameter into which all of the properties are nested. This doesn't seem particularly explicit. Is it

[2020-04-02 14:13] anjumjfax commented on #290
@LewisYoul I still haven't find a solution for this :pensive: ...only the workaround that I described. I still have a fair bit of time left until the api I'm writing goes into production, so I'm still waiting for someone else to explain what's going on, or maybe I need to seriously commit some time into figuring it out myself.

[2020-04-03 00:49] abevoelker commented on #130
@LewisYoul Yeah unfortunately I believe that's just how Swagger UI displays `body` parameters so it's expected; not sure you can work around it (although I'm far from a Swagger expert so who knows). FWIW you can see the same behavior if you view certain actions in Swagger's official pet store example app: https://petstore.swagger.io/#/store/placeOrder

[2020-04-03 08:18] LewisYoul commented on #130
Thanks for the link, that's useful for visualisation!

[2020-04-03 17:53] diachini opened #294 "Allowing `:default` response for grouping all error scenarios"
It appears that the [Swagger 2.0](https://swagger.io/docs/specification/2-0/describing-responses/#default) and [OpenAPI 3.0](https://swagger.io/docs/specification/describing-responses/#default) specifications allow `default` as a catch-all for other, not-specified response codes:

The example they provide shows how you can replace multiple `'4XX:'` responses with a single `default:` response:
[cod

[2020-04-05 10:14] BookOfGreg commented on #282
Merged. Version 2.3.0 of rswag supports Openapi 3.0.

Just change your swagger_helper from `swagger: 2.0` to `openapi: '3.0.1'` and it will attempt to output openapi3 with no changes needed to your tests.
You will get deprecation warnings if there's anything that can be made more like openapi 3's syntax, usually done in the swagger_helper.

If anyone notices that it does not generate valid openapi

[2020-04-05 10:15] #282 closed, assigned to nobody

[2020-04-05 10:15] BookOfGreg commented on #104
Merged. Version 2.3.0 of rswag supports Openapi 3.0.

Just change your swagger_helper from swagger: 2.0 to openapi: '3.0.1' and it will attempt to output openapi3 with no changes needed to your tests.
You will get deprecation warnings if there's anything that can be made more like openapi 3's syntax, usually done in the swagger_helper.

If anyone notices that it does not generate valid openapi3 on

[2020-04-05 10:15] #104 closed, assigned to nobody

[2020-04-05 17:30] BookOfGreg commented on #260
OA3 is now supported. Check out the latest release.
Let me know if you encounter any issues.

[2020-04-07 07:48] mhenrixon opened #295 "Please unrequire bye bug"
In `rswag-specs-2.3.0/lib/rswag/specs/request_factory.rb:6` there is a `require 'byebug'` statement and I do NOT want to add the byebug gem to be able to use rswag :)

[2020-04-07 10:21] yxhuvud commented on #295
Either that, or at the VERY least add it to the gem requirements, because as is, this is breaking our deploy in certain environments.

[2020-04-08 22:05] BookOfGreg commented on #295
Oops! Yep that's a mistake.

[2020-04-08 22:10] #295 closed, assigned to nobody

[2020-04-08 22:13] BookOfGreg commented on #295
https://github.com/rswag/rswag/releases/tag/2.3.1
Let me know that fixes it for you.

[2020-04-09 09:21] tomasdundacek commented on #295
@BookOfGreg Yep, thank you very much! 🙂

[2020-04-10 08:52] mhenrixon commented on #295
That worked :)

[2020-04-10 23:18] jamesla opened #297 "Feature request: Auto generate docs"
I think a great feature would be if we could make it so the swagerised docs were generated each time we ran the rspec test files changed.

This way they would always be up to date and would reduce the chance of a deploy going out where somebody has forgotten to generate the latest docs.

[2020-04-11 13:13] BookOfGreg commented on #297
rswag-specs is implemented as an rspec formatter, if you want it to run everytime you can add the `--format Rswag::Specs::SwaggerFormatter` flag to the rspec command.
I believe you can set that flag multiple times if you have other formatters you also want.

Does this help? Or do you have an idea that would be more useful or easy to discover?

[2020-04-14 17:47] tfwright commented on #148
@gurudath can you share what you did to work around this?

[2020-04-15 09:50] jamesla commented on #297
Yep that works perfectly thank you.  (here's a great place for it, like most people the first place I search for things like this is in the issues of the github).

[2020-04-15 09:50] #297 closed, assigned to nobody

[2020-04-15 19:06] BookOfGreg opened #299 "rake load order causes error in code from readme"
While I agree that `application.rb` does not seem to be the correct place to do this configuration—I too ran into the same problem in production—moving this into `config/environments/test.rb` makes the configuration no longer work correctly for me. When I run `rake rswag`, it always runs with the `--dry-run` option enabled and thus does not update the response examples in my Swagger document.

As

[2020-04-17 01:36] sobrinho commented on #284
See #300 .

[2020-04-17 01:37] sobrinho commented on #265
See #300.

[2020-04-22 18:19] mkalvas commented on #222
This looks like a bug to me.

[reuqest_factory#L121](https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs/request_factory.rb#L121) should be

[code]

due to PR #286 changes

I can open a PR if that would help. ~~Am I wrong here?~~ I was wrong here.

## Follow Up

In the course of trying to fix the bug and open a PR, I found a better workaround. If we include both lines
[code]
in

[2020-04-23 14:03] rusikf opened #306 "Is it possible to use this gem without swagger specs?"
Hi swagger hackers!

Is it possible to generate docs without writing specs?

I want to generate swagger docs, But in the same way as here https://github.com/ruby-grape/grape-swagger#overriding-the-tags-

For example, if developer right specific comments before def in api controller, they can be parsed and used for generating swagger docs

[2020-04-24 17:48] oblakeerickson commented on #306
Nope. Pretty sure you can only generate docs from specs. The nice side effect of this though is that you also have tests you can run to validate your api hasn't deviated from your api docs.

[2020-04-25 08:40] Szeliga commented on #290
@anjum-ahmed @LewisYoul I've run into the same problem, but I think I've managed to solve it. The DSL for defining params and the documentation around it is a bit lackluster. The following example works as expected:

[code]

This produces the following params in the controller:
[code]

[2020-04-27 08:45] cenotaph opened #308 "Should this require rspec-core?"
I am struggling with the issue #60 so I tried to create a new blank Rails project to start over with Rails 6.0.2.2, just following the directions. Generating the rswag:install fails because rspec-core is not a requirement.

Obviously it is assumed that people will be using rspec already, but just to make the documentation work out of the box, it might be good to either require this as a dependency

[2020-04-27 10:48] cenotaph commented on #60
Could this ticket be re-opened?

With rspec 3.9.1, rswag 2.3.1, and ruby 2.7.1, integration tests fail with this same error (`undefined method 'path'`) unless `type: :request` is present in the `RSpec.describe` call. This is happening either specifying OpenApi 3.0.1 or Swagger 2.0 as the output in `swagger_helper.rb`.

As @mcoms reported almost three years ago, these tests are ignored by the swagg

[2020-04-27 20:33] reshleman opened #309 "Feature: Inject swagger-ui config into default template"
The README [explains](https://github.com/rswag/rswag#customizing-the-swagger-ui) how to customize swagger-ui by generating and editing the `app/views/rswag/ui/home/index.html.erb` template file. This works!

It would be neat if I could configure swagger-ui -- particularly the [parameters](https://github.com/swagger-api/swagger-ui/tree/2.x#swaggerui) described in the docs -- by setting the desired

[2020-04-29 08:43] #306 closed, assigned to nobody

[2020-04-29 08:46] rusikf opened #310 "Refused to execute inline script chrome error"
After generate first spec, I receive

On index.html 71,80. Is it possible to fix this ?
In chrome console http://localhost:3000/api-docs/index.html with empty swagger specs

[2020-04-29 15:32] malkovro commented on #271
Looks like OAS 3.0 is expecting something like:
[code]
But rswag expects it to be set directly as type (without wrapping schema):
https://github.com/rswag/rswag/blob/7ceedab4cb7788ab6b86b96bd2d8f2419e11ebbb/rswag-specs/lib/rswag/specs/request_factory.rb#L119-L135

However if you provide it as
[code]
Some other part of the code I didn't identify yet (probably related to retro compatibility with spe

[2020-04-30 08:29] malkovro commented on #269
It seems like rswag is expecting you to choose one syntax **or** the other.
As you started describing the servers, it did not pick the basePath.
If you want to keep using `basePath`, enter the servers info in the key `schemes`.

As a ref, here is what's doing the formatter:
https://github.com/rswag/rswag/blob/7ceedab4cb7788ab6b86b96bd2d8f2419e11ebbb/rswag-specs/lib/rswag/specs/swagger_formatter.rb

[2020-04-30 19:55] redseafan commented on #290
@anjum-ahmed I had the same problem. As a workaround I managed to make it work by changing
`let(:task) { 'my task here' }`
to
`let(:task) { { 'task' => 'my task here' } }`

[2020-05-03 16:14] iainbryson commented on #271
This is unfortunate; I was hoping to use OAS's free-form parameters as in https://stackoverflow.com/questions/49582559/how-to-document-dynamic-query-parameter-names-in-openapi-swagger , which requires setting the schema.

Is it a lot of work to add this?

[2020-05-04 09:17] thg303 opened #313 "rswag-api crashes the rails with unknown firstpos: NilClass error"
simply followed the documentation. I tried commenting out the mount line at `config/routes.rb`, commented all initializer file `rswag-api.rb` still no change. the error was gone when I removed the gem from Gemfile.
`rails v5.1`
`ruby v2.5.0`

full stack trace:
[code]

[2020-05-04 20:53] jamesla opened #314 "How to handle integration tests when code throws an exception"
I am trying to work out how to handle the situation of testing a record that doesn't exist with  the response function.

In my controller I have a normal set method:
[code]

When I `curl localhost:3000/mode/123` I get a 404 back and get the following message in the rails server - working as expected:

[code]

However when I run the following test it fails because of the exception and never bothers

[2020-05-05 05:32] Evilbits opened #315 "Multiple request types for same endpoint"
I'm running into an issue while documenting my OAuth `password` and `refresh_token` grant type flows.
Either the user can send the `password` grant which requires one body or they can send the `refresh_token` grant which requires another body type.
It seems that I can display this in the schema but is it possible to create two separate example body?

This is my current approach however it leaves m

[2020-05-05 07:22] heo001997 commented on #315
I have this problem too
+1 upvote

[2020-05-05 11:54] DalfDev opened #316 "Request Body not generated with formData"
This is my request spec:

[code]

This is the generated yaml

[code]

And i'm looking for something like this:

[code]

[2020-05-05 11:55] redvex opened #317 "OpenApi 3.0 query params format"
Hello everyone, I'm trying to document my project with OpenAPI 🙂

This params in my spec allow me to pass the test:
[code]

but it generates:
[code]

that throw this error:
[code]

the correct format should be:
[code]
but if I write my params in the correct form:
[code]

Rspec goes on error:
[code]

[2020-05-06 08:44] xgrei commented on #316
pls try this:

[code]

via: https://swagger.io/docs/specification/describing-request-body/

Hope this can help you.

[2020-05-06 10:44] redvex commented on #317
I've dug a bit more on the last error and it seems that the library alters the params after the first example for the query params.

In another spec, I have two different examples of the same request:

[code]

With `config.swagger_dry_run = false` the second test fails with:
[code]

I've added a couple of line of debug in `/usr/local/bundle/gems/rswag-specs-2.3.1/lib/rswag/specs/request_factory.rb

[2020-05-09 18:33] joshed-io commented on #229
Excellent theory, thank you! 😅

[2020-05-09 20:57] #241 closed, assigned to nobody

[2020-05-11 11:34] brcebn commented on #264
I have the same questioning. How `rake rswag` can use
[code]
if specs are not run?
Currently, examples are nothing more than the value of `schema('$ref' => '#/definitions/YouDef')` on the spec itself.

What am I missing?

[2020-05-11 15:47] BookOfGreg commented on #264
The specs are run? This gem is a wrapper around RSpec Example helpers that makes heavy use of RSpec metadata.
https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs/example_group_helpers.rb#L7
During validation those references get expanded into real JSON Schema objects and the response.body is run through the V4 validator.
https://github.com/rswag/rswag/blob/master/rswag-specs/lib

[2020-05-12 07:31] BookOfGreg commented on #157
I can see the install for both halves is currently in the docs, perhaps it wasn't in the past.
Going to close as it looks resolved.

[2020-05-12 07:31] #157 closed, assigned to nobody

[2020-05-12 09:17] mediafinger commented on #130
I've noticed this is a 2 years old thread, but as I could not find any rswag documentation about adding multiple parameters to the JSON body at root level to create a proper swagger / OpenAPI 3.0 file, I'll add it here:

Using `name: {}` in the request spec works well with `rake rswag:specs:swaggerize`

[code]

But to make the specs pass, I had to monkey-patch the gem:

[code]

_(inspired by @abev

[2020-05-13 02:36] mathieujobin commented on #313
I did not get this problem but I would suggest you to try two things.
* grep your own code and gems for `firstpos` I am not seeing this in rswag gem
* try the same thing in an empty application, just to isolate you don't have an extra setting getting in the way.

[2020-05-13 04:07] mathieujobin commented on #316
Thanks for the hint @xgrei

solved it this way

[code]

[2020-05-18 20:04] reshleman opened #318 "OAS v3 tests fail without `basePath`, but `basePath` generates invalid Swagger"
With the removal of [`basePath`](https://swagger.io/docs/specification/api-host-and-base-path/) in OpenAPI v3, I now define API host(s) using the `servers` field, like this:

[code]

And I define my endpoints using rswag like this:

[code]

This results in the generation of the expected, valid Swagger docs.

However, attempting to run the integration tests using this configuration will fail with a

[2020-05-19 15:08] diachini commented on #317
@redvex I ran into the same problem you've documented here. If you wanna try out the bandaid I've put up in #319 - give this a shot:

[code]

And see if you have any luck 🤞

[2020-05-19 21:48] heaven opened #320 "Parameters always empty"
[code]
Produces:
[code]

Parameters empty even though there's `parameter name: :registration`.

[2020-05-19 22:13] heaven opened #321 "Schema validation doesn't work with json or json_api formats"
Validation schema looks like this:
[code]

And the response body looks like this:
[code]

And this pass:
[code]

Do I do anything wrong?

[2020-05-19 22:50] heaven commented on #320
Here's the bug! https://github.com/rswag/rswag/blob/7ceedab4cb7788ab6b86b96bd2d8f2419e11ebbb/rswag-specs/lib/rswag/specs/swagger_formatter.rb#L67

Commented out this line and parameters now appear in the UI.

This commit https://github.com/rswag/rswag/commit/2af7c13e59a1bacccdd8136db93894acf0e71dac

Should I use anything else instead of `in: :body`?

[2020-05-20 13:24] Systho commented on #299
I face the same problem and I'm currently using your fix with a small variant which makes it a bit more compliant with applications run on several environements (e.g :  staging)

[code]

[2020-05-20 19:09] mia-n commented on #222
@mkalvas that workaround doesn't hold up to the openapi-validator. Running the openapi-cli validate against a spec against a yaml in which you have left that yields:
[code]

More importantly in my case, this then also causes an error if you try to use the openapi-cli to generate a client from the yaml, which was the entire reason we tried adopting rswag in the first place.

[2020-05-21 14:59] mkalvas commented on #222
@mia-n , you're right. There were bigger underlying issues here with openapi incompatibility that we came across as well. I forked and fixed for my immediate needs, so I need to put up a PR and get feedback from the maintainers. It's been a few weeks so I'll have to figure out if any recent work has changed the landscape here and I might not have time to get to it for another week or more. Also, o

[2020-05-22 08:01] heaven commented on #321
I figured out this problem. Happens because I do use Active Model Serializers gem and the API format is set to `json`. The gem supports 3 formats by default:
- `attributes` – just plain hash with object attributes
- `json` – attributes are wrapped into a parrent object, for `Tournament` it will be `tournament: {}` (and `tournaments: {}` for collections)
- `json_api` – attributes wrapped into a par

[2020-05-22 08:37] heaven commented on #321
If this could be useful to anyone I was able to achieve this with the following patch:
[code]

And this line in `swagger_helper.rb`:
[code]

This also works with namespaces, like this:
[code]
And will expect `public/profile: { ... }` in the response.

[2020-05-24 17:55] graceful-potato opened #323 "undefined method `path' for {}:Hash (NoMethodError)"
When I try to create an integration spec using a generator for my controller, I get an error `gems/rswag-specs-2.3.1/lib/rswag/route_parser.rb:26:in `path_from': undefined method `path' for {}:Hash (NoMethodError)`

Fix - #324

[2020-05-28 01:13] d11wtq commented on #318
Agree it would be good to fix this internally, but we've solved this by putting the `/v1` in each path and leaving `servers.url` as the host-only. You can probably just remove `basePath` from the resulting file though too.

[2020-05-28 01:16] d11wtq opened #325 "OAS 3 Document has examples in the wrong path"
According to the README:

[code]

However this results in the examples being directly on the `response` object, whereas it should be on the media type object of the response's `content` property.

[code]

Any suggestions for a way to work around this?

[2020-06-02 13:30] poyzn opened #327 "Space in tags prevents ui block from being unfold"
It seems that html is formed with wrong attribute. Here's an example of the formed html with "Teaser Blocks" tag.

`<h4 class="opblock-tag no-desc" id="operations-tag-Teaser_Blocks" data-tag="Teaser Blocks" data-is-open="false">...</h4>`

It has `data-tag` with space in it, but id with underscore. I guess data-tag should also has underscore instead of space.

[2020-06-02 14:03] poyzn commented on #327
Hm. It works for other tag. I should inspect this further.

[2020-06-02 14:03] #327 closed, assigned to nobody

[2020-06-03 12:46] zkatemor opened #328 "How to not include optional parameters in cURL"
Request body:

[code]

If I send a request within Swagger with empty value in some field, the evaluates the request like this:
`curl -X PUT "http://localhost:3000/cities/1" -H "accept: */*" -H "Content-Type: multipart/form-data" -d {"name":"","area":"","country":"Russia"}`

But I need not to have the empty fields added in the request body, like this:
`curl -X PUT "http://localhost:3000/cities/1" -

[2020-06-03 12:48] theKirill commented on #328
I have a same problem!

[2020-06-03 17:19] seanstory opened #329 "Parameter reference not respected"
If I have a parameter definition in my swagger helper like:

[code]

I want to be able to use it in my spec like:

[code]

However,  I get errors like:
[code]
unless I add the `:in => :path` to the line in my spec (redundant to what's in my reference). Further, I get errors about the name not being present unless I add `:name => :content_source_key` to the spec (also redundant). I get other errors

[2020-06-04 08:28] olegykz commented on #325
As a quick workaround, I had to monkey patch the formatter:
[code]

And the examples collecting should look like
[code]

[2020-06-04 18:02] JorgeGarciaxyz commented on #317
I have the same problem while defining `type` and `default` values
[code]

produces
[code]

and should be
[code]

[2020-06-05 10:01] d11wtq opened #331 "nullable with $ref, using `allOf`, `anyOf` etc is not understood"
I have the following property:

[code]

When `heldAmount` is set to `null`, rswag fails the test with:

[code]

This seems counter to how I understand `$ref` to be paired with `nullable`. From what I can tell, this https://github.com/rswag/rswag/blob/42fdf6d482b2e5d4aee4f461abf697b2aa9c3894/rswag-specs/lib/rswag/specs/extended_schema.rb#L18 will only handle the `nullable` if `MoneyObject` itself h

[2020-06-05 10:52] d11wtq commented on #331
Not sure if I have done something undesirable (the json-schema gem docs are not clear), but just not attaching the validator extension to any particular attribute and enabling it for the top-level schema object makes it work:

[code]

Simpler too.

[2020-06-05 10:54] d11wtq commented on #331
Yeah pretty sure this is correct ☝️ Will sort out a PR. Have just money patched this in my code for now.

[2020-06-06 16:55] smeevil commented on #325
Hi @olegykz,

I can confirm that your workaround works as advertised :)

Gerard.

[2020-06-06 17:03] smeevil commented on #317
Hi @diachini,

I can confirm that your bandaid is working as advertised!
Thank you so much :)

Gerard.

[2020-06-08 07:36] deniciocode commented on #323
Is this issue fixed? I have the same error.

[2020-06-08 15:22] akofink commented on #325
This also happens for hard-coded response examples using the `example` DSL keyword.

[2020-06-08 15:44] akofink opened #333 "Mention OpenAPI in the gemspec for searching on rubygems.org"
The effort of OpenAPI is tremendous, and this gem goes a long way in providing tooling for generating, testing, and displaying OpenAPI compliant APIs, yet when [searching 'openapi' on rubygems.org](https://rubygems.org/search?utf8=%E2%9C%93&query=openapi), the gem is nowhere to be found.

I suggest updating the gemspec to include some wording specifically around OpenAPI, since the project has esse

[2020-06-09 12:58] z0rk1i commented on #323
Works for **rails generate rspec:swagger API::OrdersController**
Fails with same error for **rails generate rspec:swagger API::V1::OrdersController**

[2020-06-09 13:44] deniciocode commented on #323
@z0rk1i do you have a route for your `V1`? Do you have the same issue as mentioned in the issue for `V1`?

[2020-06-09 17:04] graceful-potato commented on #323
@z0rk1i
I think this means that you don't have API::OrdersController in your application or you haven't set the routes for this controller. Because when you pass a real controller to the generator, and you have routes that use that controller, an exception will be raised

And I am pretty sure that generated spec for your API::OrdersController is completely empty even if you have actions in the con

[2020-06-10 13:33] z0rk1i commented on #323
Yes, it was just my mistake **rails generate rspec:swagger Api::OrdersController** works fine

[2020-06-10 15:20] viktorianer commented on #262
In case someone looks for it again and uses Docker or Docker Compose...

In my case I got the same error `uninitialized constant Rswag (NameError)` when I run `swaggerize` with Docker, using `docker-compose` service without `test` environment.

For example, if you use some service like:

[code]

Then you should run `swaggerize` with:

`docker-compose run --rm test rake rswag:specs:swaggerize`

not

[2020-06-11 09:04] z0rk1i commented on #323
After more detailed testing I see what it works with non existing controllers and generates empty spec.
If controller with route exist - it throws mentioned error.

[2020-06-12 03:40] pernambucano commented on #198
Hi everyone, awesome discussion. I just want to point one small detail:
Rswag uses json-schema, and the last version of json-schema (2.8.1) only seems to understand until json-schema v4. So be careful with what schema you use to identify jsonapi (I'm currently using the one @jaydorsey mentioned).

I'm trying to use jsonapi-resources with this amazing library, everything (except for the examples so

[2020-06-12 17:16] jaydorsey commented on #198
I switched away from rswag about 6 months ago (new job) so I don't really recall exactly what I did. The last repo is private, but I do remember a couple details that might help:

- I used [json-schema_builder gem](https://github.com/parrish/json-schema_builder) for creating and managing schemas. IIRC, this is what generated the schema you see a partial screenshot of above. The gem is basically a

[2020-06-12 17:27] heaven commented on #198
Whoops, I forgot I already opened one issue and here's another https://github.com/rswag/rswag/issues/321 I was able to workaround this by patching RSwag slightly.

[2020-06-12 17:52] pernambucano commented on #198
Thanks a lot for the quick response, guys. I am right now using two schemas for an example. Let's say, I'd have a base schema (with the jsonapi schema) and a book schema. My target is to have a swagger like this :

![image](https://user-images.githubusercontent.com/6789675/84531675-526da280-acbb-11ea-85ee-6d7805afd101.png)

So basically I'd only create a schema for that resource (inside the attrib

[2020-06-12 18:19] heaven commented on #198
@pernambucano in our project this helper lies in `spec/spec_helpers/integration/response_validator.rb` but it only works with JSON format, like this:
[code]
and allows the following schema definition
[code]
Without the patch I had to write definitions like this, which looks quite awkward and redundant:
[code]
Which didn't still work properly in case of nested references and failed to validate refe

[2020-06-12 18:59] pernambucano commented on #198
Thanks a lot for the patch, man. We will use it here too.

We've arrived at a simple solution that has worked so far, but that we know it is not very scalable yet.

So we save the json_api scheme in a json somewhere, and create a method for composing both:

[code]
This has the benefit of validating the response for the json_api/resource format and the specific itens of the resource_schema. Also, i

[2020-06-14 21:45] tmaier opened #336 "readOnly and writeOnly not supported?"
Properties with `writeOnly` are only relevant for requests altering the object.
Properties with `readOnly` are only relevant for requests being read.

`writeOnly: true` leads to the following error:

[code]

[2020-06-16 12:36] PvPenny opened #337 "Not generate response example"
Hi,

I'me trying to save example response on Rails 6.0.3 app with

[code]

In test.rb i've added this
[code]

but example respons is still blank. If i use
[code]
it works, but i want auto generation.
I use rswag v 2.2.3

[2020-06-16 15:51] sameera207 opened #338 "RSpec command gives an error while rake rswag:specs:swaggerize works"
Hi All,

I'm trying to integrate rswag to me existing rails 6 project and I'm facing this strange issue, where if I run

`rake rswag:specs:swaggerize` the integration spec works fine

but if do just `rspec` it fails with the following error

[code]

Following are my specs

[code]

and the swagger UI works perfectly when executing with barer token too.

Can anyone be able to point me in the right d

[2020-06-16 18:24] pernambucano commented on #337
Hi, you should probably look here #302

[2020-06-23 14:19] ricardo-kagawa commented on #338
As far as my understanding goes, `rswag:specs:swaggerize` Rake task will run RSpec in dry mode to collect example metadata (which should contain your documentation), so no tests are actually run. Swagger UI should work fine, since it only depends on RSwag output, not RSpec code.

But running `rspec` will actually run your tests, and because you told RSwag that a security schema is in place and is

[2020-06-23 14:54] ricardo-kagawa commented on #329
I'm not 100% sure if this is the problem, but shouldn't that parameter definition be under `#/components/parameters/my_param` for OpenAPI v3?

JSON Schema would allow you to place your parameter definitions anywhere, as long as you would later reference the correct path with `$ref`, but I guess OpenAPI v3 limits your reusable definitions to `#/components/parameters/`. And under Swagger v2 you woul

[2020-06-26 10:19] olegykz commented on #337
The issue duplicates https://github.com/rswag/rswag/issues/325 - you can find a workaround there

[2020-06-30 17:08] paulmiller3000 opened #340 "Add message to response"
Hello,

I am working on a spec for data that gets returned from our API like this:

[code]
I'm struggling with including `"message": "Model Groups List Data"` item in the response sample. After a few hours of tinkering around, I'm pretty close, as the output looks like this:

![image](https://user-images.githubusercontent.com/1951198/86155561-95f54880-bad2-11ea-9f68-0c03f5678ae9.png)

How can I se

[2020-07-02 00:38] bspellacy opened #341 "[Feature Request] Support for requestBody being required"
# Problem
Open API 3.x adds support for `requestBody` to be required. By default, it is optional. Currently, rswag doesn't have the option to declare the request body as mandatory.

# Proposed Solution
Add support for a `required` key to the `parameter` method. If the parameter is `in: :body`, the `required` boolean will be respected. E.g.
[code]
I believe modifying this [method](https://github.co

[2020-07-02 00:39] bspellacy commented on #341
Let me know what you think @BookOfGreg! Shouldn't be too tough to knock this out quickly.

[2020-07-02 03:26] bspellacy commented on #341
Addressed in: #342

[2020-07-02 17:35] thdaraujo commented on #341
+1 for this!

[2020-07-02 21:35] seanstory commented on #329
I was using v2.0.5. I upgraded to v2.3.1, switched to `openapi: '3.0.1'`, and moved the parameter definitions as you suggested and still see these errors.

[2020-07-03 01:20] seanstory commented on #329
https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs/request_factory.rb#L121 looks to be at least one of the problems - requiring the param to have a `:type` key, not checking in the `$ref`

[2020-07-03 01:34] seanstory commented on #317
I'm also seeing this issue, and can also validate the fix from #319 . What's the ETA and target version for this fix?

[2020-07-03 13:05] ricardo-kagawa commented on #329
Yeah, I have stumbled upon that particular line (and that's why I came across this issue in the first place).

If you compare Swagger v2 specs with OpenAPI v3 specs, you'll notice that the definitions for parameter descriptions are slightly different, which may have not been picked up by the guys working with `rswag`'s OpenAPI v3 support (the change is a bit subtle after all). This is something I

[2020-07-03 15:01] bob commented on #325
Hello @olegykz,
How did you patch a private `upgrade_content!` method?
I'm trying to do it in `lib` directory and no chance, even via inheritance the `Rswag::Specs::SwaggerFormatter`.

[2020-07-03 15:44] olegykz commented on #325
Hey @bob,
I'm not sure what's the difference between patching private/public/protected methods. Have you checked that your file in `lib` directory is actually loaded?

[2020-07-06 15:04] seanstory opened #343 "Document requestBody"
I tried to update my specs from `swagger: 2.0` to `openapi: 3.0.1`, and all my `:in => :body` parameters went away. I saw in the OpenAPI 3 docs that `requestBody` had replaced these old params, but couldn't find in the `rswag` documentation how to get the right behavior.

I found the `jdanielian` fork that had `requestBody` [documented in the README](https://github.com/jdanielian/open-api-rswag#op

[2020-07-07 09:53] DalfDev commented on #316
Solved by using Body and not form_data

[2020-07-07 09:53] #316 closed, assigned to nobody

[2020-07-16 18:58] chunlea commented on #325
I also didn't found the correct way to overwrite this method, so I did this in `swagger_helper.rb`:

[code]

[2020-07-21 07:10] psmandzich opened #346 "Describing Empty Response Body"
Currently, describing an empty response body is not feasible. As mentioned in [documentation](https://swagger.io/docs/specification/describing-responses/#empty) `content` should be left out to enable responses without content.

I found the default insertion of an empty `content` block at [formatter](
https://github.com/rswag/rswag/blob/42fdf6d482b2e5d4aee4f461abf697b2aa9c3894/rswag-specs/lib/rswag

[2020-07-21 15:24] vchellakudam opened #348 "Upgrade to OpenApi 3.0 gives issues with multipart/form-data"
Hi everyone!

While trying to upgrade my swagger definition from Swagger 2 to OpenApi 3.0, I found the following issue with `multipart/form-data` input parameter:

These params in my spec file:
[code]

is expected to generate (https://swagger.io/docs/specification/describing-request-body/multipart-requests):
[code]
but it generates:
[code]

Even the test-app (https://github.com/rswag/rswag/blob/ma

[2020-07-28 14:12] mochetts opened #351 "anyOf modifier is not being parsed for the generated UI"
I have a generated yaml file with the following shape:
[code]
The idea is that this `values` property returns an array of objects with the form:
[code]

This schema follows the swagger documentation for data types:
https://swagger.io/docs/specification/data-models/data-types/

However, when looking at the generated UI, I'm seeing this:
![image](https://user-images.githubusercontent.com/3678598/886

[2020-07-28 23:59] deXterbed commented on #340
@paulmiller3000 might need to provide a custom response example,

![image](https://user-images.githubusercontent.com/1491315/88741139-7ba79c80-d15c-11ea-8a01-01c00c1e3a1e.png)

[2020-07-29 00:24] deXterbed commented on #320
@heaven what version you are on? v2.3.1 works fine for me

[2020-07-31 14:29] jacksonj04 commented on #310
I think this is a duplicate of #174

[2020-07-31 16:03] PavelSusloparov commented on #132
The solution above helped me for my use case.
[code]

[code]
In controller
[code]
where permitted_params appears as
[code]
Exactly what I expect it to be.

[2020-08-03 05:57] greatghoul commented on #131
You could try

[code]

[2020-08-04 06:29] drselump14 opened #353 "[Question] Testing with cookie-based Authentication"
How to testing with cookie-based Authentication?

[code]

[2020-08-04 07:06] #353 closed, assigned to nobody

[2020-08-07 21:01] Bandes commented on #325
I haven't been able to get this workaround to work for my examples. Has there been any progress on the PR that would fix this?

[2020-08-11 13:43] shubhamkhanna opened #354 "Don't know how to build task 'rswag'"
Unable to locate rake task `rake rswag:specs:swaggerize` in my task list. I am using Rswag-2.2.0
I did  rails g Rswag:install but result is same.

Please somebody help!

[2020-08-11 14:45] #354 closed, assigned to nobody

[2020-08-11 14:45] shubhamkhanna commented on #354
Sorry! This issue has been resolved

[2020-08-11 16:00] jrmhaig commented on #323
I'm also seeing this. I have controllers `Reservations::V1Controller` and `Reservations::V2Controller` with routes defined as:

[code]

I get the error when I try

[code]

and I'm wondering if the `scope :api` is causing a problem, as this is adding `api/` to the path, which doesn't exist in the controller name.

**Update:** I think that this would be fixed by #352

[2020-08-11 23:55] sameera207 commented on #338
@ricardo-kagawa , thanks for the reply and extremely sorry for getting back to you this late. I'll try this and let you know, cheers

[2020-08-12 23:53] joeytheman opened #355 "Still maintained?"
I noticed there are a bunch of outstanding PR's. Is this gem still actively maintained?

[2020-08-13 16:20] seanstory commented on #317
@BookOfGreg is there anything blocking this being merged?

[2020-08-14 10:09] wscourge commented on #130
One workaround that works for us and is easier than monkey-patching is actually naming/enveloping the main `parameter` with our custom keyword `:root` (for better readability, it could be anything, ie. `:envelope`).

Example:

[code]

[2020-08-17 13:58] BookOfGreg commented on #355
It is every now and then.

More help is always welcome especially if you have a particular area you care about.
I think there are 4 of us with write access to the repo currently.

[2020-08-17 14:05] BookOfGreg commented on #323
Fixed by #324

[2020-08-17 14:05] #323 closed, assigned to nobody

[2020-08-19 10:14] wscourge opened #356 "How to send parameter outside of the RSwag schema in the RSpec test?"
With RSwag and RSpec in Ruby on Rails, is it possible to send a parameter that is not defined as a `parameter` via the `run_test!`?

Example test:

[code]

I'd like to send `sort[direction]` in my `context`. What I have tried so far:

[code]

with no avail - I got HTTP 200 Success, even though the same request sent via Postman with `sort[direction]` defined responds with expected HTTP 422 Unproces

[2020-08-19 17:21] oblakeerickson commented on #356
I'm able to get this working in my dev environment following the example in the README

[code]

but that isn't using query params. I think maybe the query params aren't even being sent in the tests if they aren't specified.

Could you `puts params` inside of your controller and see if the `direction` param is even getting there?

[2020-08-19 18:08] oblakeerickson commented on #348
What if you change  `in: :formData` to `in: :body`?

[2020-08-19 18:28] oblakeerickson commented on #346
Can you do something like this?

[code]

which should result in output like:

[code]

[2020-08-19 18:40] oblakeerickson commented on #346
looks like this is addressed in PR https://github.com/rswag/rswag/pull/347 ?

[2020-08-20 05:35] psmandzich commented on #346
initially I tried this implementation first. But other tools such as swagger-ui require a correct implementation of the specification. The output `content: {}` leads in swagger-ui to introduce a broken response content-type (https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/response.jsx#L180). Based on documentation the response should left out the `content`-key alike:

[co

[2020-08-20 13:48] oblakeerickson commented on #346
Oh okay I didn't realize swagger-ui was showing a broken response type. I'm currently using ReDoc on a project and it doesn't display an error:

![image](https://user-images.githubusercontent.com/1490496/90778116-7d770280-e2b9-11ea-8f65-835a28fd9fbb.png)

[2020-08-24 23:18] liujohnson118 opened #357 "Set Content-Type header in requests"
I'm using gem rswag for documentation for my Rails API. My rails API requires that all requests include `headers['Content-Type']='my-fancy-content-type'` and `headers['Accept']='my-fancy-accept'`. So far I've done testing using POSTMAN and all are working fine. My Rspec tests also all pass.

When using the swagger UI at `http://localhost:3002/api-docs/index.html`. I input the correct param (just i

[2020-08-26 19:34] #357 closed, assigned to nobody

[2020-08-28 11:06] psmandzich commented on #346
with filled `content`
<img width="271" alt="Bildschirmfoto 2020-08-28 um 12 59 35" src="https://user-images.githubusercontent.com/7753474/91553890-704bba80-e92e-11ea-9917-f2eb623a3def.png">

with `content: {}`
<img width="205" alt="Bildschirmfoto 2020-08-28 um 13 02 03" src="https://user-images.githubusercontent.com/7753474/91554072-b274fc00-e92e-11ea-8700-d59ef2d6d95e.png">

When I remove `conten

[2020-08-29 21:30] rdnewman commented on #325
I wanted automatic generation of both multiple response AND payload examples.  At the point, it got a little thick, so threw auto-generation of path parameters too.

Can see solution at https://gist.github.com/rdnewman/ba5143f1598eff72b2cba48ce78ca43d.  Most files should be plug and play (but watch the top level module names). Only tested with my own project that I did this for (using Redoc), so Y

[2020-09-09 14:22] phlegx commented on #318
@d11wtq your solution is not correct. It works but it is not correct. Read here how Swagger 3.0 defines [API Server and Base URL](https://swagger.io/docs/specification/api-host-and-base-path/).

[code]

It is an internal problem of Rswag and should be solved.

[2020-09-09 17:54] jorge0136 commented on #317
I too am experiencing this issue, using the `instacart` [fork](https://github.com/instacart/rswag/pull/3) resolves the issue. Is there something we can help with to get this merged @BookOfGreg ?

[2020-09-09 19:02] phlegx commented on #337
**Rswag:** 2.3.1
**Rails:** 6.0.3.2

Can someone help me please? I have the same problem. I have added `swagger_dry_run` to test environment, etc. but what I don't understand is, how you start a task to generate automatic examples.

What do you use?

`> rspec`
`> rake rswag`

I ask because `after do |example|` is only called if I run with command `rspec`. Do I miss something?

[2020-09-09 19:39] phlegx commented on #325
The workaround don't work for me with Rswag version 2.3.1. I have tested both workarounds described here. What do I wrong? Can you show an example with commands please?

**Found the problem**

Running `rake rswag` or `rails rswag` with `RAILS_ENV=test` the `swagger_dry_run` is ignored!

[code]

See issue #359!

[2020-09-09 20:20] phlegx opened #359 "Config swagger_dry_run not respected."
Hi!

I have placed in many parts of my code the `swagger_dry_run` config like here:

[code]

But no one is working if I call `rails rswag` or `rake rswag` from console.

[2020-09-09 23:51] phlegx commented on #315
I have this problem too. Have you found a solution?

[2020-09-15 00:50] M-H-Mukit commented on #325
@phlegx  try putting the code in `config/application.rb` instead

`swagger_dry_run` issue will be solved.

After that, I stuck on. The example is not auto-generating in swagger docs.

Please let me know if you can figure out.

[2020-09-15 00:51] M-H-Mukit commented on #359
@phlegx  try putting the code in config/application.rb instead

swagger_dry_run issue will be solved.

After that, I stuck on. The example is not auto-generating in swagger docs.

Please let me know if you can figure out.

[2020-09-15 05:28] wscourge commented on #356
I have managed to do it this way:

[code]

It does not add the params to the generated OpenAPI JSON file, which is good.

[2020-09-15 08:35] phlegx commented on #359
@M-H-Mukit putting code at the end of file config/application.rb works! Thx

[2020-09-15 08:39] phlegx commented on #325
@M-H-Mukit putting code at the end of file config/application.rb works! Thx

[2020-09-15 08:45] phlegx commented on #325
**Rswag:** 2.3.1
**Rails:** 6.0.3.x

Here my code how to fix in the meantime the examples problem:

[code]
And the examples collecting should look like:

[code]

[2020-09-15 08:50] M-H-Mukit commented on #359
@phlegx  Do you get success on "auto-generating the response example for swagger docs"?

[2020-09-15 13:17] M-H-Mukit commented on #325
@phlegx  Thank you so much. Will give it a try

Update: It works! Thank you again.

[2020-09-15 14:30] phlegx commented on #359
Yep! See my comment on issue [325](https://github.com/rswag/rswag/issues/325#issuecomment-692707935).

[2020-09-17 12:49] radubogdan commented on #48
What's the status with this one? Is there a better way to set auth headers like (client, uid, access-token) for all the requests made before execution of each test?

[2020-09-17 22:25] mikeheft commented on #323
I still get this error when trying to run `rails g rspec:swagger Api::V1::UsersController`. Here is the definition of my routes
[code]

[2020-09-19 14:04] andrepcg commented on #348
@oblakeerickson I'm having this issue as well and that does not fix it.

For me it always assumes the first parameter and uses it to populate requestBody.

i.e.

If my first parameter is `parameter name: 'video', in: :body, type: :binary, required: true` then that's what appears in the requestBody (no other parameter appears)

EDIT

It seems to be related to https://github.com/rswag/rswag/blob/42f

[2020-09-19 14:22] andrepcg commented on #348
@BookOfGreg any idea?

[2020-09-24 16:14] yao0204 commented on #348
if works for me if I write with schema
[code]
The yml is generated correctly, but my spec does not pass, because it adds a `photo` params outside my params like this`"photos" => { "file": ..., "provider_tag": ...}`

And it seems that it's only like this when it is consumes "multipart/form-data", when it's "application/json", I have to put it in schema with a name too,  but the name itself is not a

[2020-09-24 16:49] yao0204 commented on #348
By looking into the code, it seems that for construct the yml (for form_data and json), you want us to write out only once the in: :body params, and list the properties inside the schema

But when constructing the payload for the test, for json it's ok, you also consider it to be written out once, but for form_data, you consider it to be written out as many times as your params

https://github.com

[2020-09-25 15:29] telyn commented on #355
It looks like it's just you remaining as a member of the RSwag organisation. (Can you keep your own personal organisation membership a secret on github? Might explain it)

Assuming that it is true, though, is there any way non-members can help reduce the burden on you (for example, reviewing/triaging PRs)?

[2020-09-27 01:27] joeytheman commented on #355
Reviewing the open PR's, quite a few people have submitted fixes for very similar issues.

@BookOfGreg  - would you be able to put together a set of guidelines/rules (ie not breaking tests, proper coverage, etc) for merging PR's and identify what milestones you would like to achieve for the next release?  I think once you have that, you can delegate those tasks to other members of the community.

[2020-10-01 03:36] Evilbits commented on #315
I resorted to simply writing a description directing the user to look at the `schema` since the example values are missing. Sadly it doesn't look very good but I guess it gets the problem solved (however not the intended way).

[2020-10-02 09:08] BookOfGreg commented on #355
Yes you can hide or show organization membership so I think I may be the only one to show up. There is still at least the original creator, and the developer of an influential fork who have primary access to this repo whether it shows up or not.

Part of the reason for the slow down on my part is my company no-longer sponsors any OS dev which was the main source of time I spent here and on react-r

[2020-10-02 13:18] paulmiller3000 commented on #340
@deXterbed Sorry for the late reply. We'd assumed this was not possible after the issue remained open for so long.

Thank you for the suggestion. This works to **add** an example with the string "Model Groups List Data" in swagger.yaml, but fails to display "Model Groups List Data" in the UI:

[code]

I still can't figure out how to add a value to `message: { type: :string }` in the `schema type:

[2020-10-02 17:41] joeytheman commented on #355
I think there are a few small things that can done to remove a bit of the burden on maintainers of this project and to spur more active community involvement.

1. Would you be able to add the guidelines to say a `CONTRIBUTING` file or contributing section in the `README`?

2. Can you enable the test coverage checks on PR's through the Github repo settings? This will easily let the community know i

[2020-10-06 11:23] hiddewie opened #364 "Allow using RSwag on specs other than :request"
There is a fixed `:request` spec extension configured in https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs.rb.

This extension pollutes the namespace of other `:request` specs that do not use the RSwag DSL.

Can the type of specs that the RSwag spec DSL is registered to, be made configurable?

For example, I would like to specify `:openapi` specs to use the RSwag spec DSL, run

[2020-10-06 15:22] salzig commented on #279
Same problem here, but we only use minitest for our testsuite, so rswag is the only one introducing the rspec dependency - which then kills our minitest suite.

I also had the idea of using `require: false`, but ended up with the same problem of killing thereby the rake task.

[2020-10-07 12:26] jfrojo opened #365 "Generated files are empty"
So after following each step from the getting started guide, all I get are almost empty files, with no content. Any ideas on why this could be happening?

[2020-10-09 12:26] radubogdan opened #366 "securityDefinitions not working with apiKey types"
## Description

Seems like `securityDefinitions`from helper and `security` directive from the actual spec file are not working together as it should.

## Expected

When I have:

[code]

[code]

I expected this to work and make use of the refresh tokens. Instead I get:

[code]

[This piece](https://github.com/rswag/rswag/tree/2.2.0#specifyingtesting-api-security) in docummentation makes me wonder i

[2020-10-09 14:20] vchellakudam commented on #348
I am currently doing the workaround as @yao0204.

By adding a wrapper object `attachment` around `file` and `kind`:
[code]
 the expected json is generated:
[code]

But, this additional wrapper object in params is breaking the integration specs.

[2020-10-13 10:43] goldendragon1988 opened #367 "Support for Array of files"
Hi,

Is there a support for array of files?
For a single file it is working great.

Here is my sample spec.
[code]

![image](https://user-images.githubusercontent.com/12995652/95850043-cbbcf500-0d82-11eb-96db-c2d691949474.png)

![image](https://user-images.githubusercontent.com/12995652/95850560-9d8be500-0d83-11eb-9db7-458cfdb10b76.png)

I also tried `'product[images][]': { type: :array, items: {

[2020-10-13 13:31] #283 closed, assigned to nobody

[2020-10-13 23:47] jamie commented on #355
I'm on a project at work that is really excited to use rswag for self-verifying API docs (a bigger win than we'd thought). We're standing up a new rails app currently, and looking to retro-fit into another two apps eventually - mixed internal/external documentation.

Due to a few missing features so far (the biggest being example responses), I've started to stand up a fork at https://github.com/ja

[2020-10-14 22:08] #333 closed, assigned to nobody

[2020-10-15 08:14] lexuantrung-Peter opened #368 "Can I split definitions schema to small files then include them to swagger_helper?"
As document, I have to declare schema in swagger_helper then reference them in rspec. But too hard to maintain them if I have too much schema in one file. So Can I split them to small files?

[2020-10-17 15:18] jamie opened #370 "Tests: Fix pending spec on Github Issues"
There's one spec marked `skip` which depends on headless browser support, which I haven't yet figured out how to properly get running (either locally or on Actions).

[2020-10-17 20:29] jamie commented on #355
For the folks following along, Greg's got me some permissions. I don't want to step on his toes pushing anything to master, but I'm doing some PR grooming and have started a WIP branch where I'm merging (& logging) some approved PRs to do some conflict resolution and pass them through CI.

[2020-10-17 21:17] BookOfGreg commented on #370
So you may discover over time that Google Chrome is a terribly annoying browser. At some point they changed from using [chromedriver to using webdriver](https://github.com/flavorjones/chromedriver-helper), and we had to re-do the headless browser, and that test probably simply never got re-written in the new driver.
For our current purposes it can probably be deleted, re-written, or ignored until

[2020-10-17 21:18] jamie commented on #370
Yeah, headless browser testing is indeed a pain in the butt :)

[2020-10-17 21:33] BookOfGreg commented on #355
And you're off to a flying start, glad to have you on-board and thank you for accepting to help us.

[2020-10-17 22:26] joeytheman commented on #355
Awesome! Welcome aboard @jamie . If you can create some milestones, I can see about getting some time allocated at work to help out with the next major release.

[2020-10-17 22:27] joeytheman commented on #355
We're currently using the https://github.com/modernmsg/rswag branch with example printing.

[2020-10-19 12:10] jfrojo commented on #365
Bump

[2020-10-19 19:32] BookOfGreg commented on #365
No idea I'm afraid, it works for most people. I assume you have run the swaggerize rake task? Did you get any output?

[2020-10-21 11:14] TheHussein commented on #357
How did you fix this? c.swagger_headers does nothing for me.

[2020-10-21 11:51] kamilsluszniak opened #374 "Query param `type` key gets overriden between response blocks in single `path`"
Code:

[code]
Issue:

In lib/rswag/specs/request_factory.rb:113
[code]

`parameters` variable is `[{:name=>:project_id, :in=>:query, :type=>:string}, {:name=>"authorization", :in=>:header, :type=>:string}]` while in `response '200'` block
`parameters` variable is `[{:name=>:project_id, :in=>:query, :schema=>{:type=>:string}}, {:name=>"authorization", :in=>:header, :schema=>{:type=>:string}}]` whil

[2020-10-21 12:44] TheHussein commented on #201
any updates on this?

[2020-10-23 16:11] quolpr commented on #374
The same issue here.

@kamilsluszniak as a workaround you mentioned, "Need to duplicate the whole path block to only define 401 response.". Am I right, that all `tags`/`produces`/`parameter` need to be duplicated in that new path block too?

[2020-10-26 07:25] kamilsluszniak commented on #374
@quolpr Correct, the whole path must be valid with all stuff going on there like there was no path specified before. Looks like docs are generated correctly tho, but examples from readme with one path defined and few response blocks inside doesn't work.

[2020-10-26 18:32] pernambucano commented on #368
yes! you can store them in the swagger/v1/stuff.yaml path (same lvl as app), for example, and use it in the response like so:
`
        schema type: :object,
               properties: {
                 data: {
                   '$ref' => 'schema_file.yaml#/Stuff'
                 }
               }
`

[2020-10-28 13:11] slim1979 opened #376 "How to change request host?"
I have got several microservices in docker-compose. Can I dynamically change host to call each of them? Something like:

[code]

[2020-10-28 21:34] RailsCod3rFuture opened #377 "Authorization Header is not being sent with request"
I've done everything that was shown on the web, to get the authorization header to be included with all API transactions. Nothing seems to work. How do go about doing this?

**provider_forms_spec.rb**

[code]

[2020-10-28 21:37] RailsCod3rFuture commented on #377
I'm getting 401 every time I run the spec.

[2020-10-28 22:09] pernambucano commented on #188
If you have a test where you find yourself using include from both rswag and rspec, you should use the full path to rspec's include:
`expect(response).to RSpec::Matchers::BuiltIn::Include.new(something)`

and give rswag's include an empty string:

`let(:'include') { '' }`

I don't know if it's important, but this is how I define my include param:

`parameter name: 'include', in: :query, required:

[2020-10-29 04:15] buntine commented on #365
The swaggerize rake task looks for specs in a set of predefined locations. If your specs are defined somewhere else in your app, you should pass in the `PATTERN` env variable.

[code]

[2020-10-29 04:32] lexuantrung-Peter commented on #368
Thank you!!!
It's work fine!!!

[2020-10-29 04:32] #368 closed, assigned to nobody

[2020-11-02 19:49] tbierwirth opened #378 "Custom Header Configuration Not Working"
The application I am working on has a `before_action` to send a `bad_request` unless the request format is JSON.  I've added the following configuration to rswag_api.rb:
[code]
When executing a request through Swagger, the `Accept` request header is still `*/*` and is therefore hitting the `bad_request` condition.  I've also tried changing the `Content-Type` header through this config and it also

[2020-11-05 15:12] c100k commented on #366
@radubogdan As a workaround, I'm doing this in my controller:

[code]

It's far from ideal, but it's the best solution I've found, waiting for a fix.

[2020-11-06 22:35] jaydorsey commented on #188
I'm going to close this issue. @pernambucano I think the solution you posted is the only clear way to make this work given how RSpec appears to handle `let` declarations. Thanks!

[2020-11-06 22:35] #188 closed, assigned to nobody

[2020-11-09 18:17] jfrojo commented on #365
Sorry for the delay on the response, yes I did't use rake, i used rails: 'rails g rswag:specs:install' is it the same? And regarding the specs location it's under '/spec' isn't it where it search for?

[2020-11-09 23:53] oblakeerickson commented on #365
This is the command to generate the api doc files: `rake rswag:specs:swaggerize` as indicated by [step 4 in the readme](https://github.com/rswag/rswag#getting-started), but `rails rswag:specs:swaggerize`. Also this command will output the location of where the docs are located:

[2020-11-13 14:30] dominikdarnel opened #379 "API versioning in #path"
Hey!

I would like to version my API through RSwag.
I would like to omit the api version prefix from each path for better readability of the Swagger Documentation.
Can I do that?
So I would like to see this:

[code]

Instead of this:

[code]

But when I try the former it throws the following error:

[code]

What can I do about that?

[2020-11-17 10:26] schmijos commented on #359
I think it's not so nice to put the configuration into `config/application.rb` because it's production code. I've put it into the `Rakefile` instead (still may be run in production, but at least only for tasks):

[code]

[2020-11-18 08:12] kwitczak commented on #74
Solution of @hc2p started working for me, once I changed `openapi: '3.0.1'`, to `swagger: '2.0'` inside `config.swagger_docs`.

To make it work for `openapi: '3.0.1', use new notation in `config.swagger_docs`:
[code]

[2020-11-20 15:09] cw6365 opened #380 "Request examples"
Is there a way or fix to add request examples like you can do in Swagger eg.

      requestBody:
        content:
          application/json:     # Media type
            schema:             # Request body contents
              $ref: '#/components/schemas/User'   # Reference to an object
            examples:    # Child of media type
              Jessica:   # Example 1
                value:

[2020-11-21 21:00] tmaier opened #381 "rswag generates invalid urls with Umlauts in a parameter"
[code]

The paramter `query` is generated by the faker gem with a german language string, which may contain non-ascii characters, like umlauts.

Please consider to `CGI.escape` the parameters for the tests

[2020-11-23 17:51] knarewski opened #382 "No support for multiple verbs per route when autogenerating specs"
## Problem

Configuration like `match '/test' => 'tests#show', via: [:post, :get]` defines a valid Rails route, yet is not supported by the `rails generate rspec:swagger TestsController` generator (causes ArgumentError when running specs):

[code]

The reason is that the value of `route.verb` [here](https://github.com/rswag/rswag/blob/83567e0ee24dfd77fff96450e3b3031c7da81ec4/rswag-specs/lib/rswag/

[2020-11-24 04:32] ravi4rails opened #383 "Can we use schema definitions to be used in different versions/namespaces?"
Hello,

I'm swaggerizing api endpoints which has multiple versions, V1, V2 and V3. Currently, I'm putting all repeated schemas in swagger_helper.rb. In that file also, it's being repeated for different versions. Like I'm using same schema `user`, `session` for api end points in different versions. To use exactly same schema, I'm putting it in V1, V2 and V3. So, here it's being repeated.

What I'm

[2020-11-25 05:38] AFlowOfCode commented on #262
This can also happen if you've never created a test database for the project, which is possible when just beginning to install test gear like rspec or rswag.

`$ rails db:test:prepare`

[2020-11-25 09:49] henry40408 commented on #348
this workaround works for me and my integration spec still pass

[2020-11-26 00:17] kwent commented on #359
Above solution worked well for me

[2020-11-30 11:47] freiden opened #384 "API documentation path"
Hi,
it seems like after the following the configuration indicated in the README I didn't find a way to serve the API doc of my app without putting the `api-docs` folder into the rails app `public` folder`. Without this trick I have the following message
![Capture d’écran 2020-11-30 à 11 57 12](https://user-images.githubusercontent.com/68886/100601685-327e7980-3303-11eb-8188-1abefce06508.png)

I

[2020-12-01 05:34] toobulkeh opened #385 "Generate multiple matching request and response examples"
I couldn't find this anywhere, so I wanted to suggest it for others in case they're interested in doing something similar:

I wanted to automatically generate both REQUEST and RESPONSE bodies on an application/json config for Open API Spec 3.0. Here's a kludgy config I added to swagger_helper:

[code]

Note that the name is from the description of each request/response pair.

Also note that genera

[2020-12-01 05:34] #385 closed, assigned to nobody

[2020-12-01 11:39] dmytro-savochkin opened #386 "No way to set several examples for responses with the same HTTP code"
Consider the following situation: I have an API that for some path (say, DELETE /emails/:id) might in addition to actual deletion of an email (200 Ok) also return 403 errors. But these errors might happen due to various reasons, for example, it might be "Cannot delete user last email" or "Cannot delete user preferred email". So, I want to describe these both conditions using rswag 2.3.1 and openap

[2020-12-08 17:53] knarewski commented on #359
A little bit of explanation:
`rswag` rake task relies on the config being set before the `rspec` command is invoked. Therefore putting this config in a file like `spec_helper.rb` doesn't have any effect (as the `spec_helper.rb` is not loaded at that point). See:
https://github.com/rswag/rswag/blob/83567e0ee24dfd77fff96450e3b3031c7da81ec4/rswag-specs/lib/tasks/rswag-specs_tasks.rake#L15

The workar

[2020-12-09 20:03] kwent opened #387 "Validate parameter request schema"
Hi,

I thought the following line would generate the documentation **AND** perform the **schema validation** but apparently not.

[code]

My workaround is the following

[code]

Would be nice to have a `validate: true` option in which will do the above thing for us.

[code]

Regards

[2020-12-11 17:03] ai-oleynikov commented on #386
Thank you for sharing your code! I tried it and it worked just fine. But then I thought that this might not be the best DSL. After all, in the result there's a single response with multiple examples, right?

[code]

And yet the code looks like if there were multiple responses, each with a single example.

[code]

From OpenAPI Specification we know that [Responses Object](https://swagger.io/specifi

[2020-12-15 10:19] nijicha commented on #279
For the side effect, I had found a way to fix

1 . Just add `require 'rswag/specs'` into Rakefile

[code]

2. Reload hierarchy of rake tasks by

[code]

So rswag won't be initiated as required dependencies for Rails app
But load in
- `spec/rails_helper.rb` for specs
- `Rakefile` for rake tasks

[2020-12-15 19:01] lezorich commented on #166
Hi @cesar3030, did you find a way to share responses?

[2020-12-16 23:33] brendonrapp commented on #323
I'm experiencing this error still. No `scope`, just nested namespaces, eg:

[code]

[code]

[2020-12-17 08:40] RALIST commented on #377
did you try to include security option in example?
something like this:
`security [Bearer: []]`

[2020-12-23 10:17] markkvdb commented on #377
It seems that you have an error in the formatting of your Authorization specification. You either have to set the `X-User-Username` and `X-User-Token` or the `Authorization` header. Right now it's a mix of both.

[2020-12-29 15:30] matiasgarcia commented on #325
@phlegx Can you walk me through how you fixed it?

I tried adding `config.swagger_dry_run = false` to both `environments/test.rb` and `application.rb`.
Then I added your monkey patch on `swagger_helper.rb`, which worked.

Then, at the top of the spec I added the after hook:

[code]

Which seems to be running.

Then when I run `rails rswag` this is the output:

[code]

As you see it's doing `--dry-

[2020-12-29 19:02] ignaciojonas commented on #323
Hi @brendonrapp, I'm having the same issue. The fix #324 works, but is not released yet. You can manually modify the file in you computer and make it work, to autogenerate the files. That worked for me....

[2020-12-31 06:41] mkhoa1412 commented on #74
@developius , @lstone, @x1wins I had same issue with Bearer. Passed on swag-ui but all rspec failed.
Did you fix it and how ?

[2021-01-03 22:28] tarassov commented on #379
You can add basePath: "/api/v1/" to your swagger_helper file.
But after that your yaml file  will not be valid. But it works.
it was discussed here:
https://github.com/rswag/rswag/issues/318

[2021-01-14 18:14] jtmkrueger opened #389 "Update endpoint example"
The documentation doesn't seem to flesh out how a `put` or `patch` would work.
I'm struggling to figure out how to correctly structure a `patch` request to get a working `200` test. I have `204` covered now, but I don't fully understand how to set up a put/patch and there's nothing in the docs.
Any help even just pointing to a working example of how it should look, would be awesome.

[2021-01-14 18:41] oblakeerickson commented on #389
Just like how the documentation does a `post` request you can substitute it with `put` or `patch`:

[code]

[code]

[2021-01-14 19:21] jtmkrueger commented on #389
So I already figured this much out. As I stated above, I have a 204 example covered, but can't figure out how to `put` and get a 200.

[2021-01-15 22:20] jtmkrueger commented on #389
NM, I figured this out on my end.

[2021-01-15 22:20] #389 closed, assigned to nobody

[2021-01-20 10:43] dmytro-savochkin commented on #386
@ai-oleynikov Yep, thank you, the approach you linked seems like a good one! Probably if it's merged it can close this issue.

[2021-01-20 12:14] stephanpavlovic commented on #386
Would be super cool to merge this!

[2021-01-21 20:23] camilohollanda commented on #207
I made it work using the alternative syntax, apparently, this is the only possible way.

Using vcr (6.0.0) and rswag (2.3.1)

[code]

[2021-01-22 09:02] heaven commented on #320
I am on 2.3.1 and it doesn't work. The problem is in the UI, when you click try it out -> execute:
<img width="1155" alt="Screen shot 2021-01-22 at 10 59 56" src="https://user-images.githubusercontent.com/126732/105469487-fb906880-5ca0-11eb-9ba5-e2a8cc10adde.png">

[2021-01-22 09:10] deXterbed commented on #320
@heaven did you try using `let` within the `response` block? Something like this:

![image](https://user-images.githubusercontent.com/1491315/105470597-c3e4e900-5cbf-11eb-87ce-46b6732f183b.png)

Not saying this is the solution, but could be a temporary workaround

[2021-01-22 09:26] heaven commented on #320
@deXterbed Yep, here's the spec I created yesterday:
[code]

The spec works (and it did before) but the swagger.yml is wrong and the UI doesn't work as expected. This is how it looks like:
<img width="1442" alt="Screen shot 2021-01-22 at 11 13 41" src="https://user-images.githubusercontent.com/126732/105471242-32677e00-5ca3-11eb-9923-35daee3f3956.png">

You can see no `registration` body parameter

[2021-01-22 09:34] deXterbed commented on #320
@heaven can you share the schema for `registration` ?

[2021-01-22 09:45] deXterbed commented on #320
@heaven you might have to explicitly add that parameter in the schema, i personally avoid using '$ref' for readability, so this is how i've done it for one of my tests:

[code]
And this is the output in the UI:

![image](https://user-images.githubusercontent.com/1491315/105475071-fa713280-5cc4-11eb-9621-d492582e97d7.png)

Hope that helps!

[2021-01-22 09:57] heaven commented on #320
Sure, here's the schema:
[code]

Our schema file on another project is 3k lines, putting that to specs doesn't seem reasonable. Even though this might work but there's definitely a bug.

[2021-01-22 10:10] d4mk0 opened #390 "Basic auth enables for all routes (!) not only rswag routes."
Hello!

Today I've deploy my app with presented in main readme doc code:
[code]
And this code enabled http basic auth for **all my routes**, not only for rswag engine :)
I don't research this problem currrently, but I think I will research it.
Just know about this problem.
I don't exclude what this problem relates with my specific app configuration.

Have a nice day.

[2021-01-22 10:17] heaven commented on #320
@deXterbed I just tried this:
[code]

No luck, the `registration` param doesn't show in the Swagger UI.

[2021-01-22 10:26] heaven commented on #320
@deXterbed it clearly tries to do something with the body params here: https://github.com/codeart/rswag/blob/deb4f52884a88ced5c6c4ad06b64404701f10ef4/rswag-specs/lib/rswag/specs/swagger_formatter.rb#L61

Trying to convert them perhaps to the new format and then deletes them here:
https://github.com/codeart/rswag/blob/deb4f52884a88ced5c6c4ad06b64404701f10ef4/rswag-specs/lib/rswag/specs/swagger_form

[2021-01-22 10:27] deXterbed commented on #320
@heaven did you also update the definition inside the `let(:registraion)` block, it should also have the `registration` key, something like this:

[code]

[2021-01-22 10:41] heaven commented on #320
The problem is on this line:
https://github.com/codeart/rswag/blob/deb4f52884a88ced5c6c4ad06b64404701f10ef4/rswag-specs/lib/rswag/specs/swagger_formatter.rb#L59

I just put debugger there and can see it's `nil`.

Adding `consumes` to my spec like this fixed the problem:
[code]

This is strange because I have this in `swagger_spec.rb`:
[code]

@deXterbed shouldn't it be inherited from there?

[2021-01-22 11:30] heaven commented on #320
@deXterbed can you please have a look?

[2021-01-23 14:39] oblakeerickson commented on #387
Yes I agree, I'm doing something similar with the more up to date json_schemer gem: https://github.com/davishmcclurg/json_schemer

[2021-01-23 18:18] oblakeerickson commented on #390
Using the test-app I'm unable to reproduce this.

Do you still have `c.swagger_endpoint '/api-docs/v1/swagger.json', 'API V1 Docs'`?

Here is how my entire config looks for the test-app

[code]

And I can still visit `http://localhost:3000` without a password and only when I visit `http://localhost:3000/api-docs` am I prompted with a username and password.

[2021-01-23 22:00] oblakeerickson commented on #384
Yes, with a sample app that I made I also have to have the `api-docs` folder inside of the rails app `public` folder, but it works without the needing swagger-api engine.

The test-app appears to be working a bit different and I think the swagger-api engine may be taking precedence with it's config file `c.swagger_root = Rails.root.to_s + '/swagger'` which is why the test-app docs are loading that

[2021-01-25 07:33] yurichandra commented on #207
@prem-prakash your suggestion works, thanks.

[2021-01-25 07:59] freiden commented on #384
The issue if I load it from the public directory seems to be that the file will be available to anybody without constraint. And I would like to restraint the access to the file for people outside of my company.
Any tips maybe on how to do this?

[2021-01-25 08:03] freiden commented on #355
Hello, sorry to be adding to the stress that this kind of thread could create but maybe can you indicate the current status of the gem and maybe update the README to indicate that your looking for more active contributors.

[2021-01-25 12:07] brateq commented on #244
`document: false` from fooki works great, thanks!

[2021-01-25 12:07] #244 closed, assigned to nobody

[2021-01-25 18:02] oblakeerickson commented on #355
@freiden and everyone, just wanted to introduce myself and let you all know that I just got commit rights to this repo.

I use rswag at my job and so I want to make sure this project succeeds and I also try and contribute to open source projects when I can.

I'm still getting familiar with this code base but I'll be working on steadily merging in The open PRs so that we can cut a new release.

Fee

[2021-01-25 19:17] jamie commented on #355
@oblakeerickson I've been pretty swamped lately with some other dayjob stuff, but I did set up some proposed 2.3.2 and 2.4 release milestones, I was _planning_ on setting up some clean-ish PRs to master that consolidate those things, essentially suggesting a draft gem release, for Greg to merge + cut a gem. If you're looking for some easy wins to start :)

[2021-01-25 23:32] oblakeerickson commented on #355
@jamie yep I'm going to work on those next, thank you very much for all of your review work :)

[2021-01-25 23:41] #320 closed, assigned to nobody

[2021-01-26 13:00] NicoSa commented on #318
I have the same issue 👋

[2021-01-26 13:33] oblakeerickson commented on #348
I'm also running into issues documenting our uploads endpoint with multipart/form-data. I'm not able to get the tests to pass though with the above workarounds, so I'm just skipping this test for now with `xit`: https://github.com/rswag/rswag/issues/140 so that I can still get the documentation to generate.

This for sure will be on my list of things that will go into the 2.4.0 release.

@yao0204

[2021-01-27 15:00] #325 closed, assigned to nobody

[2021-01-27 15:00] #346 closed, assigned to nobody

[2021-01-27 15:00] #341 closed, assigned to nobody

[2021-01-29 14:33] wujuu opened #393 "Splitting schemas into separate files doesn't generate proper examples"
Hey, I have a problem with rswag, specifically with splitting schemas into separate files. I need to do that in order to access them from my API controllers to validate incoming POST payload using JSON::Validator (**unless there is a way to directly access schemas defined in `swagger_helper.rb`** - please let me know if there is).

I am storing my schemas in `#{Rails.root}/swagger/v1`, in json for

[2021-01-29 15:57] oblakeerickson commented on #393
You are on the right track. I'm also reading my .json schema files directly into rswag as you are, so likely there is some minor change you will need to make.

I think you will need to parse the json schema files first with something like this inside of your rswag specs:

[code]

[2021-02-02 11:23] mozulevskyi opened #395 "Rswag on Hanami"
Hi guys, is it possible to run rswag with hanami?

[2021-02-03 19:21] oblakeerickson commented on #395
I'm not really sure because I don't have any experience with hanami. If hanami has support for rspec it might work. If you'd like you can give it a shot and report back.

[2021-02-09 03:26] helmiItsavirus commented on #168
@belgoros is the authorization success sent to controller?

I have been tried to use your last example but no luck to me to sent a header to controller

[2021-02-09 08:15] belgoros commented on #168
@helmiItsavirus yes, sure, otherwise the first example would fail.

[2021-02-09 08:33] helmiItsavirus commented on #168
@belgoros I just found my errors is only on Open API format securitySchemes, It makes me mad for a while.
But thanks for your example

[2021-02-10 11:53] helderasmoreira commented on #318
Same issue here! Is there a "proper" way of handling this that we're missing?

[2021-02-10 15:45] oblakeerickson commented on #379
Closing this as it is a duplicate of #318 ^

[2021-02-10 15:45] #379 closed, assigned to nobody

[2021-02-10 15:49] oblakeerickson commented on #318
Not yet. As a temporary workaround looks like maybe you can add `base_path` in rswag, but then remove it from the openapi.json output so that it is still valid?

This is on my list to fix.

[2021-02-10 15:50] #355 closed, assigned to nobody

[2021-02-10 15:55] #395 closed, assigned to nobody

[2021-02-10 16:36] helderasmoreira commented on #318
Yes, I've decided to do just that 👌

[2021-02-10 18:35] helderasmoreira commented on #325
I'm wondering why this was closed. Has this been fixed and present in a recent release?

[2021-02-10 19:24] oblakeerickson commented on #325
@heldersantosmoreira yep it was automatically closed as part of merging in changes from #371. Checkout the latest release 2.4.0.

[2021-02-11 18:36] helderasmoreira opened #398 "Header type missing schema around it"
Hello everyone,

The current documentation on the current **2.4.0** version states under **Response headers** that the right way to use these is:
[code]

However, when doing so, the generated YAML is:
[code]

This doesn't seem valid according to the Open API 3.0 specification where the `type` needs to be wrapped inside a `schema` field.

[code]

A possible workaround seems to be to do it like this

[2021-02-11 18:43] helderasmoreira opened #399 "Default and format should be inside schema?"
On version **2.4.0** when defining a parameter such as this

[code]

this is the generated output:

[code]

According to the Open API 3.0 specification, the `default` and `format` should be inside the schema, no?
Something like:

[code]

Am I doing something wrong or is this indeed a bug in the implementation?
Is rswag's idea with Open API 3.0 that one does not write the `schema` and it gets added

[2021-02-11 18:57] helderasmoreira commented on #325
@oblakeerickson you're right, was on 2.3.2. Thanks for letting me know! 🙏

[2021-02-11 19:09] helderasmoreira opened #400 "Should parameters include schema or not?"
According to the documentation of **2.4.0**, these are two ways on how you can declare a parameter.

One more simple like this:
[code]

and one a bit more complex:
[code]

I'm wondering about the absence of the `schema` on the first one and the inclusion on the second one.
Is this intended by rswag? In some simpler cases, the `schema` "wrapper" is generated, while in others (when it will contain m

[2021-02-12 07:01] fluxsaas opened #401 "support rails/spring"
Hey,

great work, loving the library :)

it would be great if the library could support rails/spring to improve performance. i don't know much about the required setup, but as far as i can see we would need:

* rswag executable

* spring-commands-rswag see [rails/spring commands](https://github.com/rails/spring#additional-commands)

the spring command should be fairly easy, we can just fork & adju

[2021-02-12 15:34] developingchris commented on #318
#397
I've created a PR to close this gap, as I starting having this issue a few days ago as well.
I'm working on a description for it.

[2021-02-16 12:48] reiz commented on #380
I have the same question. Would like to add request examples but could not figure out how to do it.

[2021-02-16 13:17] oblakeerickson commented on #380
This recent commit https://github.com/rswag/rswag/commit/cbaf6cd3e44c317948520f96abb1e42eb379fef5 fixed support for response examples, but I don't think I've seen any recent commits for request examples. Currently I just include the example field on each individual request param instead of the whole request, but yes, a way to do this for whole request we should add support for.

[2021-02-16 20:48] VitaliiLazebnyi opened #402 "Validation for unknown properties is missed"
Spec says:
[code]

My code:
[code]

When I pass into response `property3` the test still passes. 👎
When I remove `property1` - the test fails 👍
when I pass `property2` without `property1` - the test fails 👍

So my question is: should I make any additional configuration to make the test fail if passed `property3` (because `property3` absent in schema). Or is it a bug that unknown properties passed

[2021-02-17 01:54] jackchi commented on #256
This doesn't actually pass the OpenAPI V3 standards. Running [OpenAPIV3 parser](https://github.com/kevindew/openapi3_parser) we do get an error of `Unexpected fields: collectionFormat`. It looks like this is the [default OpenAPI V3 serialization method](https://swagger.io/docs/specification/serialization/). But I cannot figure out how to set my `lets!(...)` so that it matches the parameter set up.

[2021-02-17 12:18] DominikAlberski commented on #402
I maybe wrong here but haw do you validate this in your controller? If controller accepts unknown properties then the test should pass. And from my understanding this schemas in test are just used to generate proper swagger documentation.

[2021-02-17 12:53] VitaliiLazebnyi commented on #402
[code]

Please check [the documentation ](https://github.com/rswag/rswag)?

I don't really understand what is the difference what exactly are my validations in controllers. A schema should validate response automatically according to the doc.
And it does. Except for cases when a service response contains unknown properties. (which are not included in a schema)

[2021-02-17 13:21] DominikAlberski commented on #402
Ok I misunderstood you there.

[2021-02-17 17:11] DominikAlberski commented on #402
I think I found what a problem could be.  You could try to set in your schema definition `"additionalProperties": false`

[2021-02-17 18:22] VitaliiLazebnyi commented on #402
@DominikAlberski
you are right. It works with `"additionalProperties": false`
I was sure that all checks are done by `rswag` itself. but it looks like I was wrong.

[2021-02-18 12:01] DominikAlberski opened #403 "Support for description option for "in: :body" parameter"
Currently description is not visible for parameter when "in: :body" option is set.

[code]
leads to:
[code]
and:
[code]
[code]
When added manually to yaml it is properly displayed by swagger UI

[2021-03-01 14:25] benoittgt commented on #99
I had an error on Swagger UI with the definition of the array using `collectionFormat: :multi`.

<img width="1438" alt="Screenshot 2021-03-01 at 11 51 26" src="https://user-images.githubusercontent.com/8417720/109510260-15904880-7aa2-11eb-8557-e934eaef7716.png">

But with the schema defined like this it works.

[code]

Swagger UI is not able to render it properly.

<img width="548" alt="Screenshot

[2021-03-04 18:45] Paxa commented on #207
Also we can patch `run_test!` method

[code]

and use it as
[code]

[2021-03-05 00:19] bubaflub commented on #268
I have had a similar issue.  We initially generated documentation in Swagger v2 because when we tried generating it in OpenAPI v3 the response schemas were missing even though they were defined in our specs.  After walking through the code I discovered our problem was that we had provided `consumes` but not `produces` on our responses.

The schema provided in https://github.com/rswag/rswag/issues/

[2021-03-10 23:55] tonyv opened #408 "Rswag ignores Webmock stubbed requests"
Does webmock work with rswag? I've stubbed some API requests using Webmock in my rswag specs but it seems to be completely ignoring them and instead making real requests

[2021-03-11 02:26] oblakeerickson commented on #408
I would like to add better support for webmock and the like, but for now can you see if this vcr example helps?

https://github.com/rswag/rswag/issues/207

[2021-03-11 20:23] seanstory commented on #317
This seems to be fixed in rswag version 2.4.0

[2021-03-12 00:18] #317 closed, assigned to nobody

[2021-03-12 08:03] ewangx opened #409 "Refused to connect to '/api-docs/v1/swagger.yaml' because it violates the following Content Security Policy directive: "default-src 'none'"."
I have an application using rswag on a remote server. But it's failing to load with the error:
[code]

Upon inspecting the developer console, I see:
[code]

I've tried setting `c.swagger_headers = { 'Content-Security-Policy' => "default-src 'self';" }` in rswag_api.rb, but that doesn't seem to work. Anyone have ideas?

[2021-03-22 19:09] jjercx commented on #337
I'm having same issue. @phlegx did you solve it?

[2021-03-22 19:10] jjercx commented on #337
I tried searching for a workaround in #302 and #305 without success

[2021-03-22 19:14] jjercx opened #412 "Problem with enabling auto generation examples from responses"
I'm using rswag 2.4.0.

I'm doing this in my spec, as [said in the docs](https://github.com/rswag/rswag#enable-auto-generation-examples-from-responses).

[code]

However, it's not generating examples as expected when running `be rspec` or `be rake rswag:specs:swaggerize`, what am I missing?

[2021-03-23 15:25] volkov-sergey commented on #412
Hi @jjercx,

I had the same issue, `SWAGGER_DRY_RUN=0 RAILS_ENV=test rails rswag` works for me

[2021-03-23 15:25] volkov-sergey commented on #337
@jjercx try this one `SWAGGER_DRY_RUN=0 RAILS_ENV=test rails rswag`

[2021-03-25 18:29] joshuaswilcox commented on #343
I dont see how this gem can be "OpenApi 3.0 and Swagger 2.0 compatible!" if it doesnt allow setting the request body?

[2021-03-25 20:28] seanstory commented on #343
It does allow setting the request body @joshuaswilcox - it's just not documented. This issue is to request that the functionality be documented.

use:

[code]

[2021-03-31 21:00] liujohnson118 opened #413 "Use "Content-Type" header with OpenAPI 3.0.3 when it is blacklisted"
I know with Open API 3.0.3 'If in is "header" and the name field is "Accept", "Content-Type" or "Authorization", the parameter definition SHALL be ignored.'

However I know they can be generated by configuring the `rspec` and `swagger_helper.rb` files properly. For example, my `swagger_helper.rb` has
[code]
and one of my rspec file has
[code]
With the definitions for `securitySchemes` and using it

[2021-04-01 18:34] liujohnson118 commented on #413
I manually added:
[code]
underneath
[code]
in my `swagger.json` file and now it lets me send `Content-Type` header!

But how do I do it in my `swagger_helper.rb` or the `rspec` file?

[2021-04-01 21:54] aemadrid commented on #412
adding those ENV vars did not solve the problem for me.  still no working examples.

[2021-04-02 09:23] stefanondisponibile commented on #343
I don't think it does (if it does, I don't know how).

Using:
[code]

is *not* equivalent to setting the path operation [`requestBody`](https://swagger.io/specification/#request-body-object) property.

`parameter` sets parameters at `PathItem` level (not `PathOperation`s like `get`, `post`, etc...).

How can `requestBody` be set in the [`PathOperationObject`](https://swagger.io/specification/#oper

[2021-04-04 02:47] up_the_irons commented on #412
Same for me, adding examples to the response metadata has no effect.

[2021-04-05 08:52] descovi commented on #412
Same for me (rswag 2.4).
This is my code

[code]

This is my output

![Image from swagger with output that seems incomplete](https://user-images.githubusercontent.com/104249/113556557-f6368f00-95fc-11eb-9f02-503c90cf0ddd.png)

[2021-04-05 10:25] volkov-sergey commented on #412
@descovi I also added this:

[code]

to `spec/swagger_helper.rb`

and it looks like:

![Screenshot 2021-04-05 at 13 24 03](https://user-images.githubusercontent.com/16163520/113564514-33594c00-9612-11eb-8f21-5cf8c31f3c44.png)

[2021-04-06 13:51] gitjul opened #414 "[Swagger UI] Disable validation when auth is enabled"
I can't find a way of disabling the validator check to get rid of the "INVALID" badge in my deployed applications' Swagger docs.

<img width="117" alt="Screenshot 2021-04-06 at 15 44 19" src="https://user-images.githubusercontent.com/457999/113720828-4beb6400-96ef-11eb-88a4-e3da1bb2de97.png">

`{"schemaValidationMessages":[{"level":"error","message":"Can't read from file http://example.com/api-doc

[2021-04-07 22:45] rept opened #415 "Putting schemas in external yaml file"
I want to avoid having all the objects in schema in the swagger_helper file.  When I define it like this it works:

[code]

However when I replace the schemas part with this:

        schemas: {
          '$ref' => 'models.yaml#/models'
        }

and put this code in a separate models.yaml file:

[code]

I get the following error:

[code]

I tried with YAML but also with JSON, doesn't make any di

[2021-04-07 22:53] oblakeerickson commented on #415
Checkout https://github.com/discourse/discourse/blob/master/spec/swagger_helper.rb#L7 for an example.

In my swagger_helper.rb I'm loading a ruby file (schema_loader.rb) which this loads all of the json files.

[code]

[code]

I think that will do what you are looking for.

[2021-04-07 23:04] rept commented on #415
@oblakeerickson Wow so cool!  Fantastic to be able to see real world examples of this in action!  Thanks a lot!

[2021-04-07 23:04] #415 closed, assigned to nobody

[2021-04-08 15:28] anupamkakade commented on #409
Seeing the same error
[code]

![swagger_doc_error](https://user-images.githubusercontent.com/11293347/114053580-b09fed80-98ac-11eb-9619-63b5d64d5c05.png)

[2021-04-12 05:51] StanisLove opened #417 "[Swagger UI] Show parameter in components parameters section"
Could Swagger UI show a parameter defined in `components -> parameters` section described in [openApi specification](https://swagger.io/docs/specification/components/)?
E.g.
[code]

[2021-04-19 05:10] whyayen commented on #376
@slim1979 I change host not working. But it works after I change the `servers`.

Something like this in `rswag_api.rb`:
[code]

[2021-04-20 18:12] Bilal14078 opened #418 "Authorization header is not passed in request"
Hi,

I'm unable to pass bearer token as an authorization in request header.

swagger_helper
![image](https://user-images.githubusercontent.com/29977481/115444225-bc38d000-a22d-11eb-9c6b-4fb07d4f18e1.png)

user_spec

![image](https://user-images.githubusercontent.com/29977481/115444330-dc688f00-a22d-11eb-8216-d1c4b84c6249.png)

Please help as soon as possible

[2021-04-21 21:20] Buzzkill-McSquare opened #419 "Tests pass regardless of schema."
No matter what I put in the `schema` section in my `response` block my tests always pass.

For example
[code]

The above schema would pass, i.e. the test doesn't fail due to the response body containing properties that aren't defined in my schema.

I feel like this was failing before, and I haven't changed anything about my `rwag` configuration. Has anyone else encountered similar issues?

[2021-04-23 02:40] shuiiiiiimu opened #420 "Problem with tags auto generation"
According the doc of `Getting Started`, using `rswag=2.4.0` generate rspec from controller.

But not found `tags` in spec file.

[2021-04-27 05:22] kevinluo201 commented on #205
`rspec spec/integration/ --format documentation --format Rswag::Specs::SwaggerFormatter` works!
Where is this feature documented? I only see the [https://github.com/rswag/rswag#enable-auto-generation-examples-from-responses](https://github.com/rswag/rswag#enable-auto-generation-examples-from-responses)
Anyway thanks : )
it's just my project's settings problem, or may I create a PR to add this desc

[2021-04-27 07:33] salzig commented on #205
@kevinluo201 when i remember correctly, and it's quite a while ago, the task definitivtions where quite clear about this. So in the end i read the code. :)

[2021-04-29 19:05] cesartalves opened #421 "How to mark path parameters as optional?"
Given:

routes.rb:
` put '(/:id)/add_to/:order_number', to: 'my_controller#my_action'`

spec:

[code]

How do I tell rspec-swag that the id param is optional?
I've tried both required and nullable with no success.

[2021-04-30 20:21] snogrammer commented on #390
@oblakeerickson I experienced this today as well when the route is nested in a `scope`. The basic auth was applied to all routes within that scope.

[code]

[code]

[2021-05-01 00:40] mynnx commented on #403
@DominikAlberski let me know if that PR addresses your issues!

[2021-05-04 00:49] ngouy commented on #387
Agree too, I thought it was working out of the box

Why are we validating the response body against the expected schema, but not the send params against the likely declared schema?

[2021-05-04 19:00] caj opened #423 "Parameters showing up in strange ways"
I have a legacy endpoint (which I cannot change) that I need to write an Rswag specification for.

The endpoint takes a `website_uuid` as a query param and an `email` as a body param.

The test currently looks like this:

[code]

when I hit the `binding.pry`, I check my params:

[code]

Why is the email showing up in this `_json` param?

Where's the `email` param?

Why does an empty `lead` param a

[2021-05-05 22:01] smridge commented on #387
Just ran into this as well, really surprising.

[2021-05-06 03:34] ngouy commented on #290
Hey guys. The issue probably comes from 2 things

## wrapped params

In rails, there is a wrapping param system that wrapp your "root" params under a specific key.
this key and the params that are wrapped (or not wrapped) depend on the controller model unless you specify it :
https://api.rubyonrails.org/v6.0.3.3/classes/ActionController/ParamsWrapper.html

If you created an API only rails app, an

[2021-05-06 05:41] heaven commented on #290
To make `wrap_parameters` work in API constollers I usually add this:
[code]

[2021-05-07 09:29] WoLkErSs opened #424 "Trying to send GET request with hash of object in query params but it builds incorrect url"
[code]
Result in url is `?page={:size=%3E1,%20:number=%3E1}`

[2021-05-07 09:58] WoLkErSs commented on #424
My answer:
[code]
variables `page[size]` and `page[number]` must be defined
It will build correct url `?page[size]=1&page[number]=1`

Uncomfortable but it works

[2021-05-07 09:58] #424 closed, assigned to nobody

[2021-05-10 22:33] smridge opened #425 "CollectionFormat for Array Query Parameters causing Structural Errors for OpenAPI v3"
Although the changes in https://github.com/optimumenergyco/rswag/pull/1 resolved the main [issue](https://github.com/rswag/rswag/issues/317). This still requires `CollectionFormat` to be used. The Swagger Editor will still work as expected (must have a backward compatibilty with v2 syntaxes). However, this still throws a `Structural Error paths...should NOT have additional properties additionalPro

[2021-05-13 14:19] DominikAlberski commented on #403
@mynnx I think it will be good, unfortunately, I no longer have access to the project where I used rswag in, so can't check it.

[2021-05-13 22:38] cmacduff opened #427 "Add `servers` support in Path Item Object"
I'd like to specify a servers block inside my Paths block as documented here:
https://swagger.io/specification/#path-item-object

If I manually edit the yaml file to get this:
[code]
The resulting swagger UI works as expected. I think this is the DSL that would need to be supported:
[code]

[2021-05-26 01:20] TyGuy commented on #412
For anyone who still hits this issue and none of these answers work: this slightly different format finally did the trick for me (from the same `after` block in `swagger_helper.rb`):

[code]

(rswag 2.3.1)

[2021-05-27 02:41] andre-bare commented on #279
I too, have the issue of rswag disabling the minitest spec style tests.
Merely putting require 'rswag/specs' in the Rakefile is sufficient for triggering it.

Specifically: I only use minitests for my tests. For the test using test syntax, there are no issues. For tests using the Minitest spec syntax (describe Object do), these spec tests are silently skipped as mentioned above (and I do not have

[2021-05-27 18:50] tibbon opened #428 "Can this work with non-Rails rack apps, like Sinatra?"
Does it seem within reason that this can be made to work with rack apps like Sinatra and Rspec? I really just need the generation of swagger files from Rspec describing a Sinatra API.

[2021-06-02 01:48] truonglocbinh opened #430 "How to optional query parameter"
When I click Execute button, I want to `page`, `per_page`, `admin_user_id` is optional. But it still required also I set required: false.

[code]
<img width="1234" alt="Screen Shot 2021-06-02 at 08 46 27" src="https://user-images.githubusercontent.com/8655190/120411602-4329ae00-c37f-11eb-8004-a345ba05b9bc.png">

[2021-06-03 13:54] elhowm commented on #423
As I see, this gem requires the way of wrapping everything in objects. So, email could be passed as `{ data: { email: "..." } }` in request body. But just `{ email: "..." }` doesn't work here...
I have the same pain here and have no idea how to handle it.

[2021-06-04 09:30] phacks commented on #374
I had the same issue, and upgrading to `2.3.3` did the trick. Looks like https://github.com/rswag/rswag/pull/392 fixed it!

[2021-06-04 09:53] c100k commented on #374
I confirm with `2.4.0` as well ! So I guess this issue can be closed.

[2021-06-04 11:23] #374 closed, assigned to nobody

[2021-06-07 21:58] tmaier commented on #381
I do the following now in my tests

[code]

[2021-06-08 13:16] alecvn opened #431 "Forwarding CSRF token in cookie with requests"
According to the following documentation it should be possible to forward cookies with Swagger:
https://swagger.io/docs/specification/authentication/cookie-authentication/

In `swagger_helper.rb` I have the following:
[code]

  However the `CSRF-TOKEN` isn't added to the cookies forwarded with my request.

  I was also unable to locate where I would configure to include credentials if that were ne

[2021-06-08 15:46] caj commented on #423
@elhowm after messing with this for a while I realized that the required toplevel param doesn't even show up in the generated swagger docs. So even if you need to write it as `{ data: { thing_1: '...', thing_2: '...' } }` to get the specs to work, the generated docs just show `thing_1` and `thing_2` being needed, with no toplevel `data`. So it ended up being a nonissue for me. Hope that's useful t

[2021-06-08 15:46] #423 closed, assigned to nobody

[2021-06-10 11:52] jaydorsey commented on #419
I see the same behavior locally and from what I recall this is intended; json schema is intentionally lax about certain things:

There are two key pieces that you can change to make this work as expected:

You need to add the required fields:

[code]

With the above, you'll get an error similar to this:

    Expected response body to match schema: The property '#/' did not contain a required prope

[2021-06-10 13:38] Buzzkill-McSquare commented on #419
Alright, so I need to keep in mind that I'll need to be explicit about the presence of fields. Thanks!

[2021-06-10 13:38] #419 closed, assigned to nobody

[2021-06-11 07:54] #430 closed, assigned to nobody

[2021-06-11 07:54] truonglocbinh commented on #430
I closed this issue because I figure out problem from me.

[2021-06-11 15:44] smridge opened #432 "Schema validation incorrectly fails when using `additionalProperties: false` with `allOf`"
When using `additionalProperties: false` in combination with `allOf` (and I'm guessing others such as `oneOf`) the documentation generates correctly 👍 ...However, the schema validation incorrectly fails 👎 .

For example given the following:
[code]

Let's say `foobar` is referenced in `{"$ref": '#/components/schemas/foo'}` and this is expected in the response, everything is good. However, the spec

[2021-06-11 19:50] smridge commented on #432
I realized this was answered in the issue I referenced above , specifically in [subschema-independence](https://json-schema.org/understanding-json-schema/reference/combining.html#subschema-independence) (thanks @bopm for the reference!).

To many, this is one of the biggest surprises of the combining operations in JSON schema: it does not behave like inheritance in an object-oriented language. The

[2021-06-11 19:50] #432 closed, assigned to nobody

[2021-06-11 21:40] samsonnguyen opened #433 "rspec should be a dependency since rswag-specs requires rspec/core"
`rspec-specs` does not list `rspec` as a dependency even though it is required by [rswag/specs.rb](https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/specs.rb#L3)

https://github.com/rswag/rswag/blob/master/rswag-specs/rswag-specs.gemspec

Expected:
`rspec` is listed as a dependency of `rswag-specs`

[2021-06-12 06:50] zuccamia commented on #348
I ran into the same issue, but with `application/json`.
My params in spec file are:
[code]
and in my controller file are defined as:
[code]
My integration test pass with this but request from Swagger returns `unpermitted param: user`. A `user` param is created to wrap my params like so`"user" => { "email"=>..., "password"=>..., "birth_date":...}`.
I then try changing `def user_params` in my contro

[2021-06-16 13:43] BookOfGreg commented on #428
That's an interesting question.

Currently it's Rails only.
There's a few parts of rswag-spec that specifically reference the rails app, such at this like in routes. https://github.com/rswag/rswag/blob/master/rswag-specs/lib/rswag/route_parser.rb#L12

I'm not sure how prevalant the gem is baked into Rails so if you took a small adventure you might be able to isolate and override the rails-specific

[2021-06-18 12:34] brunocalmels commented on #130
I was encountering a similar problem. In my case, I was just missing the line
[code]
which is critical for the parameters to be correctly bundled. Just in case anyone faces such an issue...

[2021-06-18 17:15] brunocalmels commented on #418
I'm facing this issue as well.

[2021-06-21 03:05] llianc62 opened #434 "Help: Run generate document but skip run test"
I got known --dry-run option, but is there a method dry-run specific responses only. same case could not edit data during testing.

[2021-06-21 06:06] nidhi-canopas commented on #192
Getting following error when running `rake rswag:specs:swaggerize` :
Ruby version : 3.0.1
Rails : 6.1.3

[code]

[2021-06-22 21:37] Peredery commented on #420
@shuiiiiiimu  did you find what the problem is?

[2021-06-28 15:52] jaydorsey commented on #421
If you omit the `id`, it's technically a different path. Path values are always required.

You can create two separate specs for when the `id` is present:

[code]

And when it's not present:

[code]

[2021-06-28 16:01] jaydorsey commented on #418
A few things jumped out, comparing your configuration against mine (which works as expected):

Do you have an `openapi` definition in your `swagger_helper.rb` file?

In my examples, which are nearly identical to yours, I'm using `securitySchemes`, not `securityDefinitions`. I also have `openapi: '3.0.1'` defined. The `securitySchemes` is also nested under `components` key

I can't see enough of yo

[2021-06-28 16:34] jaydorsey commented on #408
I've been using webmock and it appears to be working correctly:

[code]

Only configuration I have is `require 'webmock/rspec'` in my `spec_helper.rb` file. WebMock 3.13.0

Can you give an example of your configuration (gem version, do you have the require) & an example test?

[2021-06-28 17:14] cesartalves commented on #421
Got it. Thanks!

[2021-06-28 17:14] #421 closed, assigned to nobody

[2021-06-29 14:43] jaydorsey commented on #400
In the first example, it's a `in: :path` variable; there is no schema because it has to be a simple value allowed in a URI. You wouldn't do a request like this for example: `GET /foo/{id: :123, name: 'test'}`.

Look for String Formats [here](https://swagger.io/docs/specification/data-models/data-types/); you can do something like below, but it may not actually validate in the test. ~It will show t

[2021-07-02 06:47] kshnyakin opened #435 "Don't work Validation of incoming parameters (in: :body) in rswag specs (Rails)"
Hello all!  I have spent a lot of time trying to emplement ability of validation incoming params is rswag specs, my code:
[code]
You **expecting** that incoming params won't pass validation, because **id - is an integer**, and **name field is absent**. But that's doesn't matter and test is compliting with success.

Can you say what's wrong with my code an why don't work validation of incoming para

[2021-07-08 15:27] andreylitvinchuk commented on #435
Looks like you try to check that you pass valid parameters from the test. I think it's strange case.
In addition, if rswag falls in this case, you will not be able to test the processing of the request with invalid params.

[2021-07-12 20:32] kshnyakin commented on #435
Hello! Here is a meeting :-)
And what for in rswag there is ability to check parameters by the schema? For viewing that in openapi.json?

[2021-07-20 08:34] thibpoullain opened #437 "Unable to generate documentation for body parameters"

[2021-07-20 08:43] #437 closed, assigned to nobody

[2021-07-23 21:45] AlexCs389 commented on #430
Hello, I have the same problem, what was your solution?

[2021-07-24 18:48] ivanbrennan commented on #414
After some trial and error, I managed to disable validation by adding this to the initializer:
[code]
So a complete example would look like:
[code]
I referenced these docs: https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/

[2021-07-26 14:07] lucassimon opened #438 "[Doubt] Multiple examples when responses 422"
Hello,

How can I generate a documentation with multiple 422 responses?

Example:

[code]

And when I ran the `swaggerize` it only takes the last one case test.

![Screenshot from 2021-07-26 11-08-17](https://user-images.githubusercontent.com/355496/127002850-13fb2e21-91e1-472d-87fa-ca2930803997.png)

[2021-08-02 22:46] Buzzkill-McSquare opened #439 "Can cookies be added to requests?"
We're working on an authorization system that expects & verifies that a token is coming from a valid place with the use of a fingerprint cookie. All of my specs now fail because they don't have the proper cookie. Is there a way to add cookies to specs? I've seen other posts related to cookie/session authorization, but this isn't that.

[2021-08-03 00:50] oblakeerickson commented on #439
I add a `sign_in` method call in the before block of each rswag spec, so something like that can be adapted for your app

[code]

the `sign_in` method can be added to something like `spec/support/integration_helpers.rb` file. This helper is also used in some normal rspec tests not just rswag specs.

[2021-08-03 19:41] Buzzkill-McSquare commented on #439
I don't think that this would give me what I want. I don't need to ensure that someone is signed in before running tests, I just need to be able to provide cookies in requests. I actually don't think that it's possible to do so, since cookies are a browser-specific feature.

[2021-08-09 10:55] ankita-agr opened #440 "Referring schema from Remote Reference failed Integration test cases"
My swagger_helper.rb have below configuration
[code]

whereas `api_error.json` file containing json schema below
[code]
When I am calling `schema "$ref": '#/components/schemas/api_error'` In any of my test cases It is throwing an exception
`Expected response body to match schema: The property '#/' was not a valid schema in schema
`
 Excepted Behaviour is that it should pass the test case as respon

[2021-08-10 02:13] jaydorsey commented on #439
I'll test this tomorrow, but I think you should be able to use something similar to the strategy you'd use to send an authorization header (since a cookie is just a header attribute/setting).

[code]

Your spec would set the cookie

[code]

There might be a better way to do this without using a security scheme but I think this kind of makes sense if you're using it as some type of auth mechanism.

[2021-08-10 02:58] jaydorsey commented on #431
The `in: "cookie"` syntax looks incorrect to me; it should probably be `in: :header`. A cookie is simply a type of header attribute/value

In order to set it, you'll also need to use something like `let(:'CSRF-TOKEN') { 'my-token-value' }` in your spec in order to pass it into the request

You'll also need your `security: [cookieAuth: []]` syntax in your spec, if you don't have it

[2021-08-10 03:00] jaydorsey commented on #420
@shuiiiiiimu Can you post an example where the `tags` aren't getting picked up?

Most often I've found when this happens it's because I have the `tags` command listed in the wrong "place". It needs to be inside the post/get/delete/put "do" block.

There are other places you can put it where it doesn't do anything, and still others you can place it where it errors

[2021-08-12 04:38] ffscalco opened #443 "Ability to make response headers not mandatory"
Hey everyone,

There is a problem setting some details in the response header.

[code]

The header `X-Previous-Page` can be nil (when you're on the first page), however, the spec fails, giving the following error:
[code]

I've tried using the `required` option but it doesn't seem to work.

I could solve the problem by giving an empty string instead of nil, however, I think it would be better to no

[2021-08-12 08:14] braindeaf opened #444 "Validating schemas on responses"
I've just spent the evening mulling over this one, I was looking at our Swagger documentation and it's Schemas section has a whole bunch of data that should really be hidden from the consumer, mostly because it's unnecessary. Our definitions / schemas have a host of re-usable snippets that have no business being in the final documentation.

<img width="520" alt="Screenshot 2021-08-12 at 09 06 21"

[2021-08-12 21:00] jaydorsey commented on #439
Confirmed, this works fine with a request spec, with the `cookie` security definition above.

[code]

Inside my controller action, if I `binding.pry` inside of the `index` action I can see my cookies

![image](https://user-images.githubusercontent.com/191564/129268553-407dc5d8-b41b-40bb-8cee-19a579e743ce.png)

This works as _I_ expected it to, at least (I haven't dealt with cookies in a while).

[2021-08-12 22:24] Buzzkill-McSquare commented on #439
Unfortunately that doesn't work for me, I'm already using a `security` definition; the cookie is an added layer of security.

[2021-08-13 01:52] jaydorsey commented on #439
I haven't tested this, but the docs make it seem like you can do something like `security [basic: [], cookie: []]` (or apikey instead of basic or whatever you use)

Barring that working, you might have to just do a stub of the method that does the cookie security method. e.g. `it_behaves_like 'valid cookie'` and `it_behaves_like 'invalid cookie'` as shared examples

There might be another way but

[2021-08-13 16:42] Buzzkill-McSquare commented on #439
I'll keep those approaches in mind and let you know if they work.

[2021-08-14 01:52] jaydorsey commented on #444
I think allowing the different components would be super useful. I've noticed the same behavior but didn't realize there were different component types until I read the link you shared

We end up creating snippets for things that we'd like to re-use but they really don't make sense to show as schema definitions. Happy to code review, pair, or share ideas on this as well.

[2021-08-17 02:26] jaydorsey commented on #380
I think this might be related to #444? There's a code example there that might help address this.

[2021-08-18 19:47] dvandersluis commented on #138
I don't know `rswag` at all but dropping in from rubocop to say that rubocop-rspec has configurable syntax for a while now and that might be able to help you out. See https://docs.rubocop.org/rubocop-rspec/usage.html#rspec-dsl-configuration

[2021-08-23 10:04] iRyusa opened #445 "Using schema in response block, but not present in swagger.yaml"
Hello here !

I have this code :

[code]

But the schema is not present in the output :

[code]

It removes it here https://github.com/rswag/rswag/blob/05e22c3bd7fff53d40cd8104678dab73d0b7aff7/rswag-specs/lib/rswag/specs/swagger_formatter.rb#L129 and I don't know why. If I remove this specific line it just work fine

Am I missing something ?

[2021-08-23 12:08] iRyusa commented on #445
Well, found the issue it need a `produces 'application/json'` in order to work !

Maybe worth to mention in the readme ?

[2021-08-23 12:08] #445 closed, assigned to nobody

[2021-08-27 20:39] nowen-a10 opened #447 "RSpec treats requests with parameters named :pending as a `pending` rspec test"
if you have a parameter named "pending" it'll error with:

[code]

Because it thinks you have a pending rspec test, which is a feature to skip a test.

[code]

Versions
[code]

[2021-08-31 14:52] jaydorsey commented on #447
RSpec creates methods based on the metadata key names and this one is specifically delegated to look for a key in the metadata ([here](https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/example.rb#L48-L66))

You might have enough information inside metadata to make a change to that method to let rswag support this

[2021-09-08 18:51] #257 closed, assigned to nobody

[2021-09-09 07:52] vladhilko commented on #211
If you need to send an array of objects with files you can do something like this:

[code]

[2021-09-10 06:06] kputra-xfers opened #448 "Generating callback documentation support"
Hi, do rswag support generating [callback documentation](https://swagger.io/docs/specification/callbacks/) from unit tests?

The UI for callback doc is running perfectly, but I am not seeing we can generate callback doc from unit test.

[2021-09-14 11:43] matiaskorhonen opened #449 "Code coverage with rswag"
Controller actions tested with Rswag don't seem to count towards code coverage, at least as measured by [SimpleCov](https://github.com/simplecov-ruby/simplecov).

Is this a known issue or is there some fix or workaround for this that I'm missing?

[2021-09-30 17:22] jaydorsey commented on #449
I'm using simplecov, my controllers are showing coverage (mixed, not always 100% so not a bug or anything I don't think)

Here's my configuration:

[code]

I run my tests with just `bundle exec rspec`

Example output:

![image](https://user-images.githubusercontent.com/191564/135501784-18fe67ba-81d8-4a3c-937f-b1be9019027f.png)

We don't have any controller specs, only request specs, all using RSwa

[2021-10-01 08:52] matiaskorhonen commented on #449
Sorry, this ended up being an oddity of how SimpleCov was integrated into our project (due to _reasons_).

[2021-10-01 08:52] #449 closed, assigned to nobody

[2021-10-04 10:20] coding-red-panda opened #452 "Cannot generate documentation"
I'm receiving the following output when running the command `rake rswag:specs:swaggerize`

[code]

From the stacktrace I'm assuming the code doesn't like some kind of definition somewhere, but I'm unable to pinpoint what exactly it doesn't like. Running `bundle exec rspec` makes all tests pass.

This is the integration test we added:

[code]

[2021-10-04 12:15] coding-red-panda commented on #452
Fixed the problem.
Swagger explicitly expects a string for it's documentation key in the schema definition.
So used `.with_indifferent_access` since we write all Hashes with symbols in our project.

[2021-10-04 12:15] #452 closed, assigned to nobody

[2021-10-25 09:34] SteveRedka opened #454 "Rswag doesn't recognise parametes. It says "No parameters""
When I generate specs with rswag gem, it says that there are **No parameters** required for this route.

Here is an example:

[code]
Result:

[![Screenshot-2021-10-25-Swagger-UI.png](https://i.postimg.cc/sXwqL2yX/Screenshot-2021-10-25-Swagger-UI.png)](https://postimg.cc/G8TX8d4w)

  rswag-api 2.4.0
  rswag-specs 2.4.0
  rswag-ui 2.4.0

[2021-10-28 21:25] paulomcnally commented on #141
Has anyone found a solution to this?

I can't find a way to pass the value in the correct way to the header.

[2021-10-29 09:55] alexohneander commented on #192
I have exactly the same error:
Rails: 6.1.4.1
Ruby: ruby 3.0.0p0
[code]

[2021-10-29 11:11] alexohneander opened #456 "Cannot generate documentation (cannot load such file -- rails_helper)"
**Rails**: 6.1.4.1
**Ruby**: 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-darwin20]

I cannot run the command to create the documentations.
Can anyone do anything with the error? I am not getting anywhere here.

The project is freshly set up and is an API project with 2 controllers.

`rake rswag:specs:swaggerize`
[code]

**Gemfile**
[code]

[2021-11-01 04:47] Nilay-Shah opened #457 "Swagger UI basic auth not working on /index.html"
the basic auth settings work fine when visiting the URL mounted on by the engine (ie. `/api-docs`). however if I append `/index.html` to that URL (so it's now `/api-docs/index.html` the Swagger UI will render and skip basic auth.

i'm happy to clarify the reproduction steps if they aren't clear!

[2021-11-02 06:41] ahmedzoha029 commented on #141
@paulomcnally
security [ apiToken: [] ]
let('X-API-TOKEN') { "my-test-api-key" }
works for me

[2021-11-02 12:45] MatthewKennedy opened #458 "Multiple Consumes Kind And Schema References"
Is it possible to document two or more different consumes kinds for one endpoint?

For example I might have a resource that has several fields I want to update via `application/json`, but then this same resource and same endpoint I might also allow uploaded images, these ideally want to be documented as `multipart/form-data`.

Do you have any way to pass different `consumes` and parameters for the

[2021-11-02 13:15] paulomcnally commented on #141
**[name]_spec.rb**

[code]

**spec/swagger_helper.rb**

[code]

This work for me, but on controller receive:

[code]

`api_key` work for request, but `HTTP_API_KEY` work for documentation generated with swagger.

[2021-11-02 15:48] Hakeemmidan commented on #128
This also happened to me, and doing the bundler groups approach didn't work as well.

To solve it, I __stopped and restarted the server__ as per [this Stack Overflow answer's advice](https://stackoverflow.com/questions/39542169/rails-5-could-not-find-generator-rspecinstall#39542170), __and it worked__.

(It seems to be a common problem for gems in general, as the question answer above is for someo

[2021-11-03 18:02] paulomcnally opened #459 "Using parameter with name :date / 'date'"
`parameter name: :date, in: :query, type: :string, required: true`

[code]

[2021-11-09 04:33] coolprobn opened #460 "Multiple response examples not supported"
I researched for a way to generate multiple response example and after digging a bit in the source code, I think this is not supported yet.

If there is a way to do this, your help is very much appreciated.

If this is not supported yet, I would like to work on this if someone provides me pointers on right direction. I will need help on writing tests though, I am not much proficient with it 😅

Fea

[2021-11-09 11:47] oblakeerickson commented on #460
Hey thanks for writing this up! I believe you are correct that rswag only allows for one example right now. It looks like you are on the right track with the code for adding support for multiple examples. So, yes, if this is a feature you'd like to have and want to work on it please do :) Start by making a PR when you get a chance and I can review it and help out with some tests.

[2021-11-09 12:20] coolprobn commented on #460
Sure, I will work on this and create a PR as soon as I complete it, probably by next week.

[2021-11-15 22:48] stevehobbsdev opened #462 "Can I augment the request made to the /authorization endpoint?"
I'm using the `:openIdConnect` security scheme but would like to somehow hook into that request in order to add a custom query parameter - is that possible with rswag currently?

For context, the IdP I'm using accepts an `audience` query param that affects the format of the returned Access Token, so I would like to specify what that `audience` value is.

[2021-11-15 23:04] oblakeerickson commented on #462
I'm not sure if rswag has support for the query params or not in the security scheme. But I'm also not sure if the OAS has support for it either?

From the OpenId Section in
https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#securitySchemeObject

it has:

openIdConnectUrl | string | openIdConnect | REQUIRED. OpenId Connect URL to discover OAuth2 configuration values. This MUS

[2021-11-19 22:09] stevehobbsdev commented on #462
It's a nice idea. Unfortunately that URL is not the one I need to modify. That's a configuration discovery document that _contains_ the URL I need to modify. There will be something that downloads it, finds the URL for the authorization endpoint and then invokes it with some params, and I would like to be able to tack my own params onto that if possible.

It's a good point though, this feels less

[2021-11-19 22:09] #462 closed, assigned to nobody

[2021-11-22 10:54] Asdfif opened #463 "Several 'produces' in different contexts"
Why when I use different 'produces' in different contexts then yaml is generated with one type in the last 'produces'
For example:

My spec
[code]

Generated YAML
[code]

[2021-11-24 20:00] PhilT commented on #456
You might need `gem 'rspec-rails'` (rather than `rspec-core`) and then run `rails g rspec:install`

[2021-11-28 21:44] stevehobbsdev commented on #462
In case anyone stumble across this, I got this working without any real hackery.

Swagger UI has some config where you can specify things like the client ID, client secret etc through some config specified when initializing Swagger in JavaScript (see [OAuth2 config](https://swagger.io/docs/open-source-tools/swagger-ui/usage/oauth2/)). There is an option to specify custom additional params for the

[2021-12-02 22:41] paulomcnally commented on #99
Any solution for object/hash?

[2021-12-07 07:27] CR4567 opened #464 "Plans for OA 3.1"
I know that this repo is not fully managed anymore. But does anyone has plans to work on support for OA 3.1?
If there will be others, I would also try to do as much as possible.

[2021-12-13 17:28] oblakeerickson commented on #464
Yes. I'm on board for getting rswag to support OA 3.1. Any help would be greatly appreciated :)

[2021-12-15 20:11] lnardelli commented on #262
hey, same problem here, i've solve it setting the env RAILS_ENV to test (RAILS_ENV=test). for some reason when a clone the project, the .env had a "RAILS_ENV=" and this was giving me the error.

[2021-12-15 22:54] a-chris commented on #207
This is really useful, thank you!

[2021-12-16 21:13] manaka opened #465 "Support of Rails 7"
subject says it all

[2021-12-18 09:23] edimossilva commented on #465
yep, can I try to create a PR for it?

[2021-12-18 16:20] helmiattastify commented on #465
@edimossilva thanks!!!

[2021-12-19 09:22] edimossilva commented on #465
Guys, looks like using `gem 'rswag', git: 'https://github.com/rswag/rswag.git', branch: 'master'` instead of `gem 'rswag'` at the Gemfile solves the issue

[2021-12-19 11:52] BookOfGreg commented on #465
Yep, merged it a few days back. Master supports Rails 7

[2021-12-19 11:52] #465 closed, assigned to nobody

[2021-12-19 12:04] BookOfGreg commented on #464
:+1: Anyone looking to help will also get my attention.

[2021-12-21 17:54] jlestavel commented on #465
Is it possible to have a new release of the gem please 🙏  ?

[2021-12-21 21:31] Buzzkill-McSquare commented on #463
+1 to this. I'm trying to write a similar test for an endpoint that handles multiple values for `Accept`, but the DSL only accepts the latest defined type for all tests for a given path & action.

[2021-12-23 11:22] DeltaRazero opened #466 "Separating test cases to separate files?"
I am currently working on an API of which the spec files are grouped by controller and user-type scope. Some controllers have quite a number of possible actions and responses. Some require a large number of test cases to have full code coverage, leading to some files being almost at a thousand lines.

I was wondering if there was an elegant way of separating the test cases from describing the API,

[2021-12-23 13:42] hss-mateus opened #467 "Installing from github gives 404 assets"
As pointed in #465, the latest release of rswag on RubyGems doesn't work with Rails 7, so i pointed this github repo at my gemfile.

The problem is that rswag-ui assets are not installed when using this workaround. This requires me to manually install them at the gem folder, like the example:

[code]

A possible solution for this is to release a new version to RubyGems, including the installed ass

[2021-12-26 04:08] agildav commented on #467
👀

[2021-12-29 19:16] matiassalles99 commented on #467
Yes a new release would be great, I'm trying to upgrade to Rails 7 also

[2021-12-30 08:35] anmarchenko commented on #467
Same here, would really appreciate new release. Thanks for your work!

[2021-12-31 09:42] Borzik commented on #390
I have the same issue. When I put mounts inside `namespace`, it affects all routes inside that `namespace`.

[2022-01-04 22:32] joshbuker opened #468 "Are there maintained alternatives to RSwag?"
Looking around at the issues, it looks like rswag isn't really maintained anymore. Are there any popular alternatives, or anyone interested in helping maintain RSwag?

[2022-01-06 10:30] coins-black commented on #467
Has the same bug

[2022-01-06 10:36] coins-black opened #469 "Rswag UI doesn't mounted well"
Hi!

When I try to setup new rails 7.0.0. with Rswag i give errors after visit browser (rails server started):

[code]
And so on...

How to solve this? Thanks!

[2022-01-06 19:17] strifek commented on #469
A possible workaround for this issue is to use a CDN-provided assets. To achieve this you'll have to:
1. export customizable `index.html.erb` file by calling `rails g rswag:ui:custom` (it'll be placed in `views/rswag/ui/home`)
2. in exported file change those lines:
[code]
  to:
[code]

Hope this will be useful :)

[2022-01-06 19:55] coins-black commented on #469
@strifek works like a charm!
Thanks!

[2022-01-09 12:18] coins-black commented on #412
Does you solve this problem?

I'm using `rswag (2.4.0)` and face with this issue too

[2022-01-09 12:23] coins-black commented on #337
solved my problem

[2022-01-09 12:25] coins-black commented on #412
`SWAGGER_DRY_RUN=0 rails rswag:specs:swaggerize` solve this issue

[2022-01-11 14:18] morgoth commented on #469
@BookOfGreg Are there any chances anytime soon for a stable release with Rails 7 support, to avoid such issues?

[2022-01-12 14:47] mxdavis commented on #467
👀

[2022-01-13 15:52] VoltanBro commented on #424
Hi! I think I found solution. Try to add - style: :deepObject, like
[code]
It worked for me :)

[2022-01-13 16:15] WoLkErSs commented on #424
Wow thanks!
Looks cool👍🏻
I have solved it like
parameter name: param_name[][id], in: :query
In controller it is available like hash inside an array
On Jan 13, 2022, 5:52 PM +0200, Vitalii Molchanov ***@***.***>, wrote:

[2022-01-14 07:26] joelbiffin commented on #467
👀

[2022-01-14 07:33] joelbiffin commented on #465
Is there anything I can do to help with preparing a release of the Gem?  It looks like Github actions are failing on master due to failing dependency installs. It would be great to help everyone move over to Rails 7 🙂 @BookOfGreg

[2022-01-14 23:05] rept commented on #448
Same here, I don't see any way to generate callback docs.

[2022-01-17 09:19] jimbali commented on #468
How many people actually have the right permissions to merge PRs and/or push to Rubygems in this project? Doesn't look like many as the last release was 11 months ago. 😩

[2022-01-17 16:11] sergioisidoro commented on #337
Dry run also solved my problem. Any idea why the `config.swagger_dry_run = false` is not working?

Should the docs be updated? I lost a couple of hours on this trying to understand what was wrong...
https://github.com/rswag/rswag#enable-auto-generation-examples-from-responses

Edit: seems to be fixed in the yaml, but no in the ui due to the above mentioned issues

[2022-01-17 17:58] sergioisidoro commented on #468
It's quite frustrating seeing PRs that are reviewed, and ready for merge, and so many people engaging in the discussions, but no merges happening.

I've sent an email to Greg asking if he would like some help. (ping here as well @BookOfGreg @oblakeerickson )
Otherwise if anyone here is interested in joining me to maintain a fork of this repo, please let me know.

[2022-01-17 18:16] jimbali commented on #468
I'd be happy to help maintain this repo or a fork, but I can't promise I'd be able to devote a lot of time to it.

[2022-01-17 18:18] domaindrivendev commented on #468
@sergioisidoro - I'm the original creator of rswag (and owner of the rswag github org) and would be willing to grant you the neccessary privileges, if you feel you have the time to help keep this project thriving. Believe me when I say these projects take a lot of personal time, particulary as they get more popular - you may have the energy (and likely work-related mandate) to give it time right n

[2022-01-17 18:21] joshbuker commented on #468
I can definitely echo @domaindrivendev's comments on energy maintaining projects.

It sounds like we have both the original maintainers, and some volunteers interested in helping at least for the short term. My thoughts are that the best solution would be to add them onto the team to help out, and to avoid any unnecessary forks.

[2022-01-17 18:24] domaindrivendev commented on #468
Sounds like first order of the day will be to get an up-to-date release out. It seems there's been a number of commits to master since the last one and so we'd need to figure out if there's any potential breaking changes. If someone was willing to walkthrough the diffs and confirm we have no breaking changes committed since the `2.4.0` tag, then I'd be happy to push out a release. Once that's done

[2022-01-17 18:26] domaindrivendev commented on #468
@athix and @sergioisidoro - sounds like you're both interested in helping out, at least in the short term?

[2022-01-17 18:28] joshbuker commented on #468
@domaindrivendev I wish I could, but I have my hands full with existing commitments. I do look forward to seeing some movement on rswag though, as I use it for some of my projects.

@jimbali and @sergioisidoro seem to both be interested in helping out however.

[2022-01-17 18:37] sergioisidoro commented on #468
I can dedicate some time in the sort term, yes. And I totally agree that as time goes by the energy and enthusiasm dies out. But I think the important thing is that we pass on the torch to responsible people who show interest when that happens, and be transparent about our inability to contribute when it does :)

[2022-01-17 18:57] sergioisidoro commented on #468
https://github.com/rswag/rswag/compare/2.4.0...master

Nothing seems to stand out as a breaking change, although CI in master has failed on the last merge. A first step would be to re-trigger those workflows to see if anything is broken.

[2022-01-18 17:38] sergioisidoro commented on #460
Please note that there are a already 2 PRs attempting to address this issue since Apr 2020

https://github.com/rswag/rswag/pull/305
https://github.com/rswag/rswag/pull/302

[2022-01-19 06:02] coolprobn commented on #460
I didn't get to work on it and turns out that happened for the good.

Thanks for mentioning it here, I should do better to check up existing PRs. I only had checked issues.

I will close the issue in favor of those PRs and instead see if I can help in any one of them so we have this feature.

[2022-01-19 06:02] #460 closed, assigned to nobody

[2022-01-19 08:19] sergioisidoro commented on #460
Glad we were in time to avoid duplicate work :)
Feel free to participate in those discussions to try and push them forward 👍

[2022-01-19 14:39] vokshirg commented on #86
Does anybody found the way how to implement it? Thanks!

[2022-01-19 14:42] vokshirg commented on #86
oh, there is just a wrong example

works for me:
[code]

![image](https://user-images.githubusercontent.com/10025264/150153403-2f4f8cae-2389-4608-a4c4-82a57dc8df7b.png)

[2022-01-20 13:34] jlestavel commented on #467
For those who would be looking for a temporary solution:

The Github version of the `rswag-ui` gem does not have the `node_modules` folder, so indeed the `Rswag::Ui.config.assets_root` folder does not exist...

https://github.com/rswag/rswag/blob/a813b63bcc64e9ea49f6416ab4fe023b7f090ad8/rswag-ui/lib/rswag/ui/configuration.rb#L22

The reason of that is that the `node_modules` folder is generated on

[2022-01-20 13:58] AhmedKamal20 commented on #468
@sergioisidoro Thank You
@domaindrivendev just a reminder

[2022-01-20 19:47] jtannas commented on #468
I'd like to volunteer as well.
As much as maintaining open-source takes energy, it's a lot less energy than overhauling a company's entire request test suite.

Maybe we start with giving some people triage permissions to the repo?
That way we can start doing a lot of the frontline issue support & initial PR review to lessen the burden on maintainers.

[2022-01-21 20:27] marclennox commented on #469
I've also run into this problem on Rails 7.0.

[2022-01-22 17:11] BookOfGreg commented on #468
I'm thankful that so many of you have raised a hand in the comments.
Currently there's a lot going on in my life and have had to stand back from direct action but there are some PRs merged here and there.

I've been holding off on releasing as a gem due to lack of time to validate it on Rails 7 and if I released something broken it would stay broken for a while before I can roll it back.

There ar

[2022-01-22 17:17] BookOfGreg commented on #468
Separating this commit to be super specific.
The biggest problems in this repo as I see them:
- [x] We need to regain trust in CI, GitHub Actions needs to be running green on all current rubies. Edit: https://github.com/rswag/rswag/pull/475
- [x] The world moved on a bit, we need compatibility with Rails 7, Turbolinks latest, Webpack/er latest. Edit: https://github.com/rswag/rswag/pull/481
- We do

[2022-01-24 16:36] pedrofurtado opened #480 "Rails 7.x release?"
Is there any plans to release an official release with Rails 7.x compatibility?

Thanks a lot! 🤝 🍻

[2022-01-25 18:40] wheatevo commented on #480
Looks like this is resolved in master on https://github.com/rswag/rswag/issues/465 and a new release will need to be performed.

Other related PRs:
https://github.com/rswag/rswag/pull/477
https://github.com/rswag/rswag/pull/481

[2022-01-25 18:56] sergioisidoro commented on #480
@wheatevo yes. Me and @BookOfGreg are making sure the testing and CI are reliable with Rails 7, and we'll make a release hopefully quite soon.

[2022-01-25 22:36] BookOfGreg commented on #468
@domaindrivendev
Since you last worked on the gem, Travis.ci stopped providing free time for FOSS.
Tests have moved to GitHub but in order for @sergioisidoro and I to perform a release, we're going to need to you to either do the releases or if you put a rubygems key in the org secrets then we can construct a GH Action to release the gem without seeing the secret itself.
https://github.com/organiz

[2022-01-26 11:26] sergioisidoro commented on #468
@BookOfGreg while we wait, should we organise things a bit

My proposal
- (maybe not necessary since we're so close) Create a milestone for Rails 7
- Create a Milestone for OAS3
- Create a Milestone for OAS3.1
- Group issues and Pull requests into those milestones, and do a first triage round
- Create a project board to further triage the issues into how far they are in the pipeline

I can do that

[2022-01-26 15:12] paulomcnally opened #482 "Almost a year since the last release"
* Is this repository accepting pull request?
* Are the issues being taken into account?

[2022-01-26 20:58] AhmedKamal20 commented on #482
- #468 check this, it has the current state and plan

[2022-01-27 21:54] jscharf commented on #465
Lots of discussion happening on this issue https://github.com/rswag/rswag/issues/468 for those hoping for a release.

[2022-01-28 21:05] #482 closed, assigned to nobody

[2022-01-28 21:09] BookOfGreg commented on #465
Yep. We're trying.

[2022-01-28 21:12] BookOfGreg commented on #468
@sergioisidoro Upgraded you to "maintainer" access. I'll be honest I thought member on the org would have given you that but it's granted now.
For me the main thing is to get the gem release into GH Actions but only @domaindrivendev can provide the secret for rubygems, once that happens then yourself (AND OTHERS, MAINTAINERS WELCOME!) can take it as far as you want from there.

[2022-01-29 13:48] BookOfGreg commented on #468
Sorry @domaindrivendev and @sergioisidoro appears I'm wrong again, that's what I get for being away from open source for a year.
The travis build and release is here https://travis-ci.org/github/rswag/rswag
@sergioisidoro you can release the gem that way still! Edit: Looks like it needs a migration.
I do think we should move onto GitHub actions for it but we can actually still cut a new gem.

[2022-01-29 15:19] sergioisidoro commented on #468
I created a tag, and it seems that this repo might be still using the old Travis CI, because there was no effect:
https://github.com/rswag/rswag/releases/tag/2.5.0.rc1

I assume it's because of this:

So @domaindrivendev we would need you help either to migrate to the ravis-ci.com, or to configure the ruby gems secret in the github org as a repo secret.

As @BookOfGreg mentioned, he is also the ma

[2022-01-30 09:37] purian commented on #359
You can use this ENV to control the dry run as well SWAGGER_DRY_RUN=0
Like this:
`SWAGGER_DRY_RUN=0 rake rswag:specs:swaggerize  `

[2022-01-31 12:50] kassi opened #483 "Unable to test missing auth - proposal for change"
If I were to use rswag not only for documentation but also to test the API, I need to test all cases. Otherwise I end up with 2 specs: one for documentation, one for the cases. I'm trying to do it.

I have a securityScheme set up for a simple header apikey. For this to work, whenever this security scheme is required, I have to provide a method/`let` to return a value. This works well for the succe

[2022-01-31 13:13] kassi commented on #438
OpenAPI documentation doesn't allow several different entries for the same response code.
However you can add multiple examples for one response.

Unfortunately, rswag doesn't make use of the `examples` key in responses, but generates the singular version `example` from the result.

The way I worked around this is a bit tricky and probably a bit flaky, but as long as you run all the tests when upd

[2022-01-31 13:22] kassi opened #484 "Response content-type not tested"
If my operation has a `produces` attribute, I expect the response to set the corresponding content-type header to one of the listed types. This however is not checked.

I ended up patching (yeah, I know) `ResponseValidator` and added the following to the end of `def validate_headers!`:

[code]

I can imagine having this added in general to the mentioned method.

Any thoughts?

[2022-02-03 20:30] stjshi opened #485 "Update swagger-ui version to at least 4.1.3"
Hey all! Are there plans to update the swagger-ui version?

[code]
[Advisory page](https://github.com/swagger-api/swagger-ui/commit/01a3e55960f864a0acf6a8d06e5ddaf6776a7f76)

[2022-02-07 09:16] sergioisidoro commented on #468
@domaindrivendev Any updates on this?

[2022-02-08 16:12] PedroSeda commented on #468
@BookOfGreg @sergioisidoro @domaindrivendev
I'm more than happy to help if you need an extra pair of hands to maintain.
We have an Rails 7 application using rswag, and it's working wonders so far.

[2022-02-08 17:49] domaindrivendev commented on #468
@BookOfGreg just gave you ownership perms for the `rswag`, `rswag-api`, `rswag-specs` and `rswag-ui` gems. Let me know if you need anything else.

[2022-02-08 23:16] BookOfGreg commented on #468
<img width="289" alt="image" src="https://user-images.githubusercontent.com/637868/153090715-674b8704-3b11-4269-8af0-61885fcc848b.png">

🎉 🎉  We are BACK IN BUSINESS!  🎉 🎉

Anyone who is an Rswag member can deploy safely without mine or DDD's involvement via GH Action. It's a little clunky for now (manually specify version) but that can be the subject of a new issue. At the current point in time t

[2022-02-08 23:16] #468 closed, assigned to nobody

[2022-02-09 00:02] BookOfGreg commented on #467
Latest version is shipped. Let us know if there's an issue.

[2022-02-09 00:02] BookOfGreg commented on #480
This should now be done. Let us know if any issues on Rails 7.0.x are discovered!

[2022-02-09 00:02] #480 closed, assigned to nobody

[2022-02-09 01:56] jtannas opened #489 "v2.5.0: Static `swagger-ui` assets 404ing"
![image](https://user-images.githubusercontent.com/22785056/153106037-797f1451-e22f-455b-98c7-b616bb52db40.png)

## Version Information
gem: 2.5.0
ruby: 3.0.3
rails: 6.1.4.4

## Notes
- bug not present in ~v2.3.2~ v2.4.0 of the gem
- possibly related to #469
- currently investigating; suspect it's something to do with the bundling of `swagger-ui` assets

[2022-02-09 02:14] jtannas commented on #359
Looks like this issue predates v2.4.0 which added the `SWAGGER_DRY_RUN` variable and updated the README https://github.com/rswag/rswag/releases/tag/2.4.0

I'm going to close this issue because of those changes, but feel free to reopen it or create another if you think more needs to be done.

[2022-02-09 02:23] jtannas commented on #459
This looks like a crash from Ruby, specifically Ruby v2.3.6. That version went EOL on March 31, 2019.
https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/

Are you able to reproduce the issue on a current version of Ruby?

[2022-02-09 02:49] jtannas commented on #466
I don't think there's any official guidance with this gem for the layout of your request specs - it really comes to what makes sense for your project.

That being said... What's worked so far for me is to break out the request specs by URL instead of by controller.
eg.
[code]

The benefit is we instantly know where to find the description for a URL. (eg. `GET /api/v1/users/123` -> `/backend/specs/

[2022-02-09 02:56] jtannas commented on #434
I'm not sure I follow your question... Are you looking to generate the documentation without running the tests? (eg. `rake rswag:specs:swaggerize`)

[2022-02-09 03:04] jtannas commented on #454
Looks like you're missing `required: true` in your body parameter definition. The way you have it written all the properties of `body` are required, but the `body` itself is optional.

Does this change solve your problem?

[code]

[2022-02-09 03:16] jtannas commented on #179
heyo - sorry it took a 3 years to get a response on this

I believe this is resolved by https://github.com/rswag/rswag#customizing-the-swagger-ui

Closing this issue due to it being old/resolved, but feel free to open another if you still have issues.

[2022-02-09 03:16] #179 closed, assigned to nobody

[2022-02-09 03:23] jtannas commented on #203
heyo - sorry it took so long for someone to respond :bow:
I can't be certain without a copy of the project to experiment, but I think the problem you're having is due to the docker-compose volumes. In the `swagger` service, you only have the `spec` directory mapped between the docker container and the host machine. Since the documentation is generated outside of the `spec` folder, they are never c

[2022-02-09 03:23] #203 closed, assigned to nobody

[2022-02-09 03:51] jtannas opened #490 "Maintainer Tooling Discussion"
Making a thread here for discussing different things we can do to make maintaining the project less time consuming.

Ideas:
- Add a `SECURITY.md` file for reporting vulnerabilities to head off tickets like #135
- Add a `rubocop.yml` to keep everyone on the same page for project styling; lint & autocorrect PRs
- Add in spellchecker ([cspell](https://cspell.org/)?) for PRs
- Add https://github.com/m

[2022-02-09 16:34] lucymidgleyopi commented on #468
Hi @BookOfGreg I work with @jtannas  and would also be interested in helping out if you need any more hands!

[2022-02-09 19:05] BookOfGreg commented on #490
- [x]  #491  - We need to discuss the content of this file, generally it's expected that there's an email to handle this privately, however given the length of time it took me to get back in the game, what kind of guaranteed can we make?

[2022-02-09 19:10] BookOfGreg commented on #490
- [x] #492 - This one should be fairly straight forward. Stale is pretty sensible to me, shame to loose people's good content but there is a limit of what's useful and what will reasonably be gotten to. Discuss in the PR thresholds and message.

[2022-02-09 19:12] BookOfGreg commented on #468
Hi @lucymidgleyopi I checked with Joel and added in also.

For anyone else who chances on this thread. Feel free to add to the thread or make a new issue also. Either myself or Sergio should have permission over time, and hopefully over time grant others the ability to add new Triage and Write and other members to the org.

[2022-02-09 19:15] BookOfGreg commented on #489
That was a risk. Guess we have our 2.5.1 candidate, do we have a clue as to what's the cause?

[2022-02-09 23:31] jtannas commented on #489
Not yet; I got sidetracked last night with a plumbing mishap before I could narrow it down. I'll keep looking ~later today~ tomorrow (forgot I had a prior commitment and was away from my dev machine).

[2022-02-10 03:03] jtannas commented on #185
This seems resolved so I'm going to close this issue. Feel free to make another issue if you're still running into problems.
Cheers 🙂

[2022-02-10 03:03] #185 closed, assigned to nobody

[2022-02-10 03:06] jtannas commented on #264
This seems resolved so I'm going to close this issue. Feel free to make another issue if you're still running into problems.
Cheers 🙂

[2022-02-10 03:06] #264 closed, assigned to nobody

[2022-02-10 04:04] jtannas commented on #313
This seems to be a Rails issue and not an RSwag issue
- https://stackoverflow.com/questions/44465118/rails-5-1-unknown-firstpos-nilclass-issue-reloading-application
- https://github.com/rails/rails/pull/32296
- https://github.com/rails/rails/pull/33118

Closing this issue because of it. If you're still running into problems though and are sure it's an RSwag issue, feel free to open up another issu

[2022-02-10 04:04] #313 closed, assigned to nobody

[2022-02-10 04:15] jtannas commented on #485
Kind of?
The gem has fallen behind over the last year so we just brought on a bunch more people to help. See here for the story: https://github.com/rswag/rswag/issues/468

We obviously want to keep up with all the latest & greatest tools, but right now we have a lot of catch up to do and don't know when we'll get around to that particular version bump.
If you or anyone else you know would like to

[2022-02-10 04:46] jtannas commented on #484
Seems like a good addition!
Maybe submit it as a PR?

[2022-02-10 05:09] jtannas commented on #171
Heyo - I just joined in on the project and am helping sort through our issue backlog.
It looks like the issue here is that the `pending` is actually a different spec than the one that's failing.

You can see in the output that there were two test results

The one that's failing is the `run_test!` that's further down in your code.

[2022-02-10 05:14] jtannas commented on #218
heyo - I'm a new volunteer going through and cleaning up the issue backlog.
There's a very similar issue https://github.com/rswag/rswag/issues/484 that has some code to potentially fix the issue. I'm going to tag this as duplicate and close it so that we can keep all relevant discussion in one place. Feel free to hop in there if you'd like to discuss.
Cheers 🙂

[2022-02-10 05:14] #218 closed, assigned to nobody

[2022-02-10 05:18] jtannas commented on #381
heyo - this is an issue with `rack-test` that I've been meaning to put a PR in for a few months now 😅
https://github.com/rack/rack-test/issues/266

If you'd like to jump on it instead I'd really appreciate it 🙇

[2022-02-10 05:25] jtannas commented on #387
heyo - just to confirm I understand correctly: you want RSwag to validate your test parameters before they are submitted to your API? Or am I misunderstanding?

[2022-02-10 05:29] jtannas commented on #158
Heyo - I'm new and sorting through our issue backlog then came across this.
Does swagger's [`enum`](https://swagger.io/docs/specification/data-models/enums/) or [`String pattern`](https://swagger.io/docs/specification/data-models/data-types/#string) fit what you're looking for?

[2022-02-10 05:32] jtannas commented on #420
heyo - I'm a new volunteer sorting through our issue backlog and found this.
Since it has been so long without a response or more details I'm going to close the issue.
Feel free to open another if you're still running into problems and we'll be happy to help. Cheers 🙂

[2022-02-10 05:33] #420 closed, assigned to nobody

[2022-02-10 05:38] jtannas commented on #435
heyo - I'm a new volunteer sorting through our issue backlog and came across this.
The reason RSwag isn't failing is that we don't validate params that are being submitted to the API. The reasons are
- We want to be able to submit invalid parameters to the API to ensure it throws the correct error response
- That would just be testing your test code and not the API, so it doesn't add any value

[2022-02-10 05:49] jtannas commented on #440
Hi @ankita-agr
`'$ref'` only works for referencing other parts of your current schema, and cannot be used to reference other files.
In order for your `api_error.json` to work, it needs to be loaded into code somewhere and then provided to the schema. The way you have it written is as a simple string.

Something like this might be what you're looking for:

[code]

[2022-02-10 05:54] jtannas commented on #402
Looks like this issue is resolved so I'm going to close it, but feel free to open another if you'd like any further help. Cheers 🙂

[2022-02-10 05:54] #402 closed, assigned to nobody

[2022-02-10 07:29] belgoros commented on #171
@jtannas Hey, unfortunately, I have no more access to the project code source (4 years ago), so it's impossible to reproduce the issue.

[2022-02-10 07:29] #171 closed, assigned to nobody

[2022-02-10 18:02] hss-mateus commented on #467
Yeah, the problem persists, similar as described in #489. Maybe the production build isn't shipping with all the required files:
![image](https://user-images.githubusercontent.com/58234608/153468188-820e0a3b-d9d9-4974-8d8b-bf4a5efaf816.png)

[2022-02-10 21:45] BookOfGreg commented on #467
Ok, cause is likely to be we moved from Travis to GitHub Actions and the deploy script did not re-implement the flow exactly. This is an error in the deploy process and I'm working on this for a 2.5.1 release.

[2022-02-10 21:45] BookOfGreg commented on #489
Linked 467 which appears to link the issue to node-modules missing due to a change of build process.

[2022-02-10 21:53] jscharf commented on #465
@BookOfGreg thank you to you and others for your hard work and diligence in getting this release out!

We are proceeding with our Rails 7 upgrade and this is a huge help 👏

[2022-02-10 23:03] BookOfGreg commented on #467
I have now released 2.5.1, Thanks for informing us though sorry I hadn't understood the issue I was about to cause before I caused it.

Please let me know if this issue continues.

[2022-02-10 23:03] #467 closed, assigned to nobody

[2022-02-10 23:12] BookOfGreg commented on #490
- [x] I've made a discussion section. I've never used one before but happy for others to do so. Hopefully this will help us make and keep this a vibrant place.

You can find it here: https://github.com/rswag/rswag/discussions

[2022-02-10 23:43] tmaier commented on #336
still relevant, if you want to fully support OpenApi 3.0

[2022-02-10 23:48] BookOfGreg commented on #489
Should be fixed in 2.5.1

[2022-02-10 23:48] #489 closed, assigned to nobody

[2022-02-11 03:50] jtannas commented on #135
We've since added https://github.com/rswag/rswag/blob/master/SECURITY.md explaining how to report Security issues. Closing Issue.
Thank you for the report :bow:

[2022-02-11 03:50] #135 closed, assigned to nobody

[2022-02-11 03:53] jtannas commented on #153
Gem has since been updated to 3.52.5 so closing this issue immediately. Thanks for partipating! Cheers :slightly_smiling_face:

[2022-02-11 03:53] #153 closed, assigned to nobody

[2022-02-11 03:59] jtannas commented on #147
Looks like this question has been answered already but I'll toss in one more suggestion before I close it for anyone who comes across this ticket:

[code]

[2022-02-11 03:59] #147 closed, assigned to nobody

[2022-02-11 04:34] jtannas commented on #170
heyo - sorry it took >3 years to get a reply. I'm a new volunteer clearing out the backlog of issues and came across this.

From the look of it your expected response schema looks like:
[code]
And you actual response schema looks like:
[code]

Seems like a pretty significant mismatch :sweat_smile:

---

Anyhoooo... since it's been so long since this was opened I'm going to close it under the assum

[2022-02-11 04:34] #170 closed, assigned to nobody

[2022-02-11 04:37] jtannas commented on #490
Thoughts on opening up a wiki?
I'm seeing some common threads in the tickets that would fit well into an FAQ section.
- How can split my `swagger_helper` definitions across multiple files?
- Why is this test passing when there are additional properties?
- Why is this test passing when there are missing properties?
- https://github.com/rswag/rswag/issues/256

They could go into the README but it's

[2022-02-11 04:45] jtannas commented on #208
Looks like this question has been answered to I'm going to close it now.
If you're still running into problems then feel free to make a new issue and I'll be happy to help :slightly_smiling_face:
Cheers!

[2022-02-11 04:45] #208 closed, assigned to nobody

[2022-02-11 04:50] jtannas commented on #165
heyo - I'm a new volunteer sorting through the issue backlog. Sorry it took 3 years to get a response :bow:
I think the right tool for your case is `rake rswag:specs:swaggerize`. It will generate the JSON documentation without actually running the tests, so it's very quick.
I'm going to close this issue now assuming we were too late, but if you're running into problems feel free to open a new issu

[2022-02-11 04:50] #165 closed, assigned to nobody

[2022-02-11 04:53] jtannas commented on #162
I'm going to close this issue now since the original poster never responded to the last question.
If you're running into a similar problem feel free to open a new issue and I'll be happy to help :slightly_smiling_face:
Cheers!

[2022-02-11 04:53] #162 closed, assigned to nobody

[2022-02-11 05:06] jtannas commented on #276
Heyo - I'm a new volunteer sorting through the issue backlog.
I'm removing the `wontfix` label because this seems like a very valid problem that's worth addressing.
I think my biggest personal frustration with RSwag as it is right now is the cryptic error messages.

That being said, we're pretty shorthanded as we catch up on a year on inactivity in this gem so any contributions you can make toward

[2022-02-11 05:09] jtannas commented on #338
heyo - I'm a new volunteer sorting through the issue backlog and came across this.
The answer provided matches with my own experience running into the same problem and the original poster never followed up, so I'm going to close this now. If you're running into problems feel free to open a new issue and I'll be happy to help :slightly_smiling_face:
Cheers!

[2022-02-11 05:09] #338 closed, assigned to nobody

[2022-02-11 05:12] jtannas commented on #196
Heyo - new volunteer here sorting through the issue backlog and came across this.
It looks like a solution was provided and the original posted never followed up so I'm going to close this now, but if you're running into problems feel free to open a new issue and I'll be happy to help :slightly_smiling_face:
Cheers!

[2022-02-11 05:12] #196 closed, assigned to nobody

[2022-02-11 05:16] jtannas commented on #140
Heyo - new volunteer here sorting through the issue backlog and came across this.
I'm hoping to get a wiki going soon with common problems, and this seems like a good candidate for an FAQ.

[2022-02-11 05:17] jtannas commented on #278
Heyo - new volunteer here sorting through the issue backlog and came across this.
This looks resolved by the linked issue, but if you're running into problems feel free to open a new issue and I'll be happy to help :slightly_smiling_face:
Cheers!

[2022-02-11 05:17] #278 closed, assigned to nobody

[2022-02-11 05:20] jtannas commented on #310
Heyo - new volunteer here sorting through the issue backlog and came across this.
I'm going to close this issue since it's a duplicate of an older ticket with discussion in it.
Thank you for contributing though! :slightly_smiling_face:

[2022-02-11 05:20] #310 closed, assigned to nobody

[2022-02-11 05:25] jtannas commented on #356
Heyo - new volunteer here sorting through the issue backlog and came across this.
I'm going to keep this one alive to add to an FAQ, since testing how and API responds to unexpected parameters seems like it'd be a common use case

[2022-02-11 05:28] jtannas commented on #490
Related: can I please get a `documentation` label for keeping track of things to add to an FAQ?
https://docs.github.com/en/issues/using-labels-and-milestones-to-track-work/managing-labels#creating-a-label

[2022-02-11 07:36] #328 closed, assigned to nobody

[2022-02-11 07:58] hiddewie commented on #364
Not stale!

[2022-02-11 17:16] hss-mateus commented on #467
It's working perfectly now, thanks for the quick response!

[2022-02-11 19:32] CarlosCD commented on #469
I see this same problem, using master (cb87c5aeff42f4b47b9963b85ddba47cb41780d1) with Rails 6.1.4.

[2022-02-11 20:04] BookOfGreg commented on #469
@CarlosCD can you try on version 2.5.1 and let me know if that works? It should have been fixed as this looks like a dup of #467

[2022-02-11 20:13] CarlosCD commented on #469
Yes, 2.5.1 works. That has been my fallback.

One of our developers was pulling master in preparation for Rails 7, that is what made me aware of the issue.

[2022-02-11 20:16] BookOfGreg commented on #490
Slowly working through these suggestions, hope you don't mind my pace, you seem to be tracking a little faster than I am :laughing: . Do you have any thoughts on a good async communication tool? Team discussions in the org might do it but not used that before either.
Edit: Think at one point @sergioisidoro mentioned about slack or discord, hope I'm not mis-remembering, have a preference?

[2022-02-11 20:20] BookOfGreg commented on #469
Yep, sorry about that, we transferred from TravisCI to GitHub and it's hard to know deployment related things in advance and a small mistake crept in. Glad this is sorted for you and all others in the thread.

If anyone has related problems to missing please comment or open a new issue.

[2022-02-11 20:20] #469 closed, assigned to nobody

[2022-02-11 20:22] BookOfGreg commented on #242
The irony of being hit by my own stale bot is not lost on me. :laughing:

[2022-02-11 20:23] BookOfGreg commented on #186
Been a while but thanks again for contributing that PR. Many people have benefited from your kindness there.

[2022-02-11 20:23] #186 closed, assigned to nobody

[2022-02-11 20:35] BookOfGreg commented on #490
I think you should have permission to open a Wiki up yourself. The Org settings don't restrict it as far as I can tell but please correct me if I'm wrong there.

I do wonder if the content is better as a GitHub page, I've seen a number of other repos have good GH Pages content for their documentation so I would think that might be the better kind of content, trouble is that needs write access and

[2022-02-11 20:38] BookOfGreg commented on #364
I agree, this is not ideal for us to hard-code the name we're locked onto. Do you see a nice way of pulling it into the rswag config? I'd happily accept a PR in this area if you could contribute the time? :pray:

[2022-02-11 20:41] BookOfGreg commented on #399
I believe I saw somewhere else that it may be better formatted such as:
[code]
However I think at the time we were forced to keep the old syntax for Rswag to be compatible with both Swagger 2.0 and OpenApi 3.0.
We may want to revisit this decision with yourself and a couple others being frustrated with this behaviour. One for us to look at as a reason for breaking change.

[2022-02-11 20:43] BookOfGreg commented on #181
This sounds like a bug to me, I haven't validated it locally yet but would you (or future readers) like to submit a PR with a test on this topic?

[2022-02-11 20:44] BookOfGreg commented on #398
Is this a duplicate of #399 ?

[2022-02-11 20:45] BookOfGreg commented on #258
Not stale.

[2022-02-11 20:46] BookOfGreg commented on #259
Duplicate of #258 Sorry it's been taking so long to get to these. We've only recently been able to get new people to volunteer to help :pray:

[2022-02-11 20:46] #259 closed, assigned to nobody

[2022-02-11 20:47] BookOfGreg commented on #174
Not stale.

[2022-02-11 20:50] BookOfGreg commented on #175
Closing as I believe Conor solved the issue.

[2022-02-11 20:50] #175 closed, assigned to nobody

[2022-02-11 20:50] BookOfGreg commented on #160
Not stale.

[2022-02-11 21:50] BookOfGreg commented on #490
Finally got around to making a very basic logo. Anyone who is a designer PLEASE SEND HELP. In the meantime I hope this is OK.
![rswag logo](https://user-images.githubusercontent.com/637868/153675174-93144b1e-f4c7-4f5a-83b9-a850a3769244.png)

Edit: as you might be able to tell, I am not a professional graphic designer and should never be allowed near the front-end.

[2022-02-11 21:56] BookOfGreg commented on #270
Hey @spikeheap did you ever get this working? I see there was some work at the MOJ on this, would always love some help, esp from a group with such a good reputation in UK tech.

[2022-02-11 21:59] #154 closed, assigned to nobody

[2022-02-12 04:28] jtannas commented on #490
I'd need access to https://github.com/rswag/rswag/settings to enable that feature and it's 404'ing me so it needs more access than I have.

GitHub pages are nicer bit Wiki is much less work. My priority right now is to get caught up on the backlog, so I lean towards Wiki to start. Pages can come later when there's more free time & energy.

[2022-02-12 04:44] jtannas commented on #490
Very slick looking - definitely a lot better than anything I could manage so let's go with it.
For a future revision, I think something that melds in the swagger logo would be nice. eg.
![image](https://user-images.githubusercontent.com/22785056/153696888-89b39574-b144-4b25-abb2-5f6b64c64ff3.png)
Sorry about all the JsPaint artifacting 😅

[2022-02-12 04:48] jtannas commented on #212
Hi @bubbavcita - I'm a new volunteer working my way through the issue backlog. Sorry it took so long to get a response.

I don't know if this is a new addition, but you're able to add properties within the header. Eg.
[code]

Does this fit what you're looking for?

[2022-02-12 05:09] jtannas commented on #351
Not stale

[2022-02-12 05:16] jtannas commented on #202
heyo - sorry it took so long for someone to respond 🙇
Since there's no actual code here to diagnose there's not much I can do to help you.
This issue is quite old and I'm trying to catch us up on the backlog so I'm going to close this issue now. If you're still running into problems then feel free to open a new issue and I'll be happy to help. Cheers!

[2022-02-12 05:16] #202 closed, assigned to nobody

[2022-02-12 05:18] jtannas commented on #149
heyo - I'm a new volunteer helping clear out the issue backlog.
Since there was no response to Jay's request for more information I'm going to close this ticket as abandoned.
If you're still running into problems then feel free to open a new issue and I'll be happy to help. Cheers!

[2022-02-12 05:18] #149 closed, assigned to nobody

[2022-02-12 05:34] jtannas commented on #490
Let's try moving this to Discussions and see how it works out - could help out people who want to contribute by having everything out in the open.

[2022-02-12 05:35] #490 closed, assigned to nobody

[2022-02-12 05:40] jtannas commented on #443
I think what you're looking for is `required: false`
eg.
[code]

[2022-02-12 21:28] jtannas commented on #199
heyo - I'm a new volunteer sorting through the backlog.
I think the issue it that we don't yet support XML. There's an open PR to add support though https://github.com/rswag/rswag/pull/277

[2022-02-12 21:34] jtannas commented on #266
It looks like the underlying concern is resolved by #274 which has been released so I'm going to go ahead and close this now. Thank you for the contributions though :slightly_smiling_face:

[2022-02-12 21:34] #266 closed, assigned to nobody

[2022-02-12 21:43] jtannas commented on #178
heyo - new volunteer here sorting through the issue backlog.
I found a similar solution in another comment that's a bit cleaner, so I'm going to add that to the FAQ https://github.com/rswag/rswag/issues/140#issuecomment-449047723

Thanks for the ideas though :)

[2022-02-12 21:43] #178 closed, assigned to nobody

[2022-02-13 06:29] jtannas commented on #314
heyo - new volunteer here clearing out the issue backlog and found this

So I learned something new about Rails digging into this... It looks like `ActiveRecord::RecordNotFound` is an unhandled exception in your app, so I was a bit surprised you were getting a 404 page instead of a 500. Turns out there's some Rails magic that turns it into a 404 page: https://stackoverflow.com/questions/27925282/a

[2022-02-13 11:34] BookOfGreg opened #497 "Feature: Raise custom error for required params"
I like it! I've definiely chased that wild goose a couple times and this would've saved a ton of time :swan:
This is also applicable to query parameters with `required: true` if you feel like extending the PR a bit. If not we can just merge as-is.

_Originally posted by @jtannas in https://github.com/rswag/rswag/issues/455#issuecomment-1037579628_

[2022-02-13 15:44] 0x7466 commented on #318
+1

[2022-02-14 03:39] jtannas commented on #140
Added to the Wiki here: https://github.com/rswag/rswag/issues/140#issuecomment-449047723

[2022-02-14 03:39] #140 closed, assigned to nobody

[2022-02-14 03:58] jtannas commented on #99
Added to the FAQ here: https://github.com/rswag/rswag/wiki/FAQ#how-can-i-submit-arrays-through-query-parameters

[2022-02-14 03:59] jtannas commented on #256
Added to the documentation here: https://github.com/rswag/rswag/wiki/FAQ#how-can-i-submit-arrays-through-query-parameters

[2022-02-14 04:07] jtannas commented on #212
Added to an examples section https://github.com/rswag/rswag/wiki/Examples#documenting-a-header-parameter

[2022-02-14 04:07] #212 closed, assigned to nobody

[2022-02-14 04:11] jtannas commented on #195
Added to the new `Examples` section of the wiki https://github.com/rswag/rswag/wiki/Examples#documenting-a-response-that-is-an-array-of-objects

[2022-02-14 04:11] #195 closed, assigned to nobody

[2022-02-14 04:15] jtannas commented on #356
Added to the FAQ: # Source: https://github.com/rswag/rswag/issues/356#issuecomment-692473556

Thanks @wscourge ! Hopefully we get around to adding an easier way someday :tired_face:

[2022-02-14 04:15] #356 closed, assigned to nobody

[2022-02-14 04:33] jtannas commented on #206
heyo - new volunteer here sorting through our issue backlog. Seems like this was just a syntax hiccup that has been resolved for a few years. I'll close the issue now, but please feel free to make another if you're still running into problems. Cheers :slightly_smiling_face:

[2022-02-14 04:33] #206 closed, assigned to nobody

[2022-02-14 04:38] jtannas commented on #271
heyo - new volunteer here sorting through the issue backlog.
Looks like this was resolved by you PR so big thank you on that :bow:

I've just added an OAS3 query parameter example to our Wiki and will close this issue now. Cheers! :slightly_smiling_face:

[2022-02-14 04:38] #271 closed, assigned to nobody

[2022-02-14 04:44] jtannas commented on #158
I've added this to our examples section. https://github.com/rswag/rswag/wiki/Examples#documenting-a-query-parameter-with-a-list-of-allowed-values

Since this is a very old thread I'm going to close it now, but please feel free to make a new issue if you're still running into problems. Cheers! :slightly_smiling_face:

[2022-02-14 04:44] #158 closed, assigned to nobody

[2022-02-14 05:03] jtannas commented on #221
heyo - new volunteer clearing out our issues backlog.
I've added this to our Examples section of the wiki. https://github.com/rswag/rswag/wiki/Examples#documenting-a-nullable-enum-parameter
I'm going to close this now, but feel free to open another issue if you're still running into problems. Cheers! :slightly_smiling_face:

[2022-02-14 05:03] #221 closed, assigned to nobody

[2022-02-14 07:16] jtannas commented on #365
heyo - new volunteer here helping sort through our issues backlog.
Since this is quite an old issue and there's very little information to go on, I'm going to close it.
If you're still having issues, feel free to make a new issue and we'll be happy to help. Cheers! 🙂

[2022-02-14 07:16] #365 closed, assigned to nobody

[2022-02-14 07:24] jtannas commented on #409
heyo - new volunteer here helping to sort through the issue backlog.
This looks like it's a duplicate of #174 There's some important discussion there, including a PR that could potentially resolve the issue.
I'm going to mark this issue as duplicate and close it just so that we can focus the discussion in one place. Thank you for contributing though!

[2022-02-14 07:24] #409 closed, assigned to nobody

[2022-02-15 16:04] itsarslanasif commented on #262
Your RSpec might not be initialized yet. Initialise  RSpec to generate helper files

`rails generate rspec:install`

[2022-02-16 07:38] jtannas commented on #459
Closing this ticket since it appears to be due to running on an unsupported version of Ruby.
If you manage to reproduce this on a supported version of Ruby please open another ticket and we'll be happy to help 🙂

[2022-02-16 07:38] #459 closed, assigned to nobody

[2022-02-16 07:53] jtannas commented on #418
I'm using a very similar setup to Jay and it's working.

<details>
<summary>Sample</summary>

[code]

[code]

</details>

What version of OpenAPI are you using? The `openapi` key in your swagger definitions will say (eg. `  openapi: '3.0.3'`) There were some changes between v2 and v3 that might be the source of your troubles.

[2022-02-16 08:02] jtannas commented on #400
Looks like the poster's question has been answered with no follow up so I'm going to close this ticket.
@jaydorsey Thanks for helping out! 🙂

[2022-02-16 08:02] #400 closed, assigned to nobody

[2022-02-16 10:17] hiddewie commented on #364
There is a problem that the RSpec extension is configured before the user can define the config with `RSpec.configure { }`

I could image something like
[code]

But the user would need to define `Rswag::RSPEC_TYPE` before the rswag code is included. Not sure if that is reasonable. Otherwise this issue is hard to solve.

[2022-02-17 06:17] jtannas commented on #417
Looks like we'll need a way of passing configurations to the Swagger UI
https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/

[2022-02-17 06:23] jtannas commented on #309
not stale

[2022-02-17 06:26] jtannas commented on #417
Looks like we already have a ticket for this request so I'm going to mark this as duplicate so we can keep the discussion in one place: https://github.com/rswag/rswag/issues/309

btw I think the configuration flag you're looking for is `defaultModelsExpandDepth`

[2022-02-17 06:26] #417 closed, assigned to nobody

[2022-02-17 06:32] jtannas commented on #172
Looks like this was answered and is in the documentation now. Closing it now so that we can get our backlog under control.
If you're still running into issues though, feel free to open another ticket. Cheers! :slightly_smiling_face:

[2022-02-17 06:32] #172 closed, assigned to nobody

[2022-02-17 06:41] jtannas commented on #222
Added this to our FAQ since we've seen a lot of issues over time about it. https://github.com/rswag/rswag/wiki/FAQ#how-can-i-submit-arrays-through-query-parameters
Closing this issue now, but please feel free to open another if you're still having problems. Cheers! :slightly_smiling_face:

[2022-02-17 06:41] #222 closed, assigned to nobody

[2022-02-17 08:42] velimovich opened #498 "[BUG] SwaggerFormatter breaks array params after first run"
## Describe the bug
`Rswag::Specs::SwaggerFormatter#upgrade_request_type!` modifies parameters: adds `schema` key there. In all next GET requests these `array` parameters are encoded incorrectly because of early return in `Rswag::Specs::RequestFactory#build_query_string_part` as it checks whether or not parameter has `schema` key (it has, because it was modified after the first call) and thus arra

[2022-02-24 23:32] #299 closed, assigned to nobody

[2022-02-24 23:32] #321 closed, assigned to nobody

[2022-02-24 23:32] #198 closed, assigned to nobody

[2022-02-24 23:32] #132 closed, assigned to nobody

[2022-02-24 23:32] #131 closed, assigned to nobody

[2022-02-24 23:32] #315 closed, assigned to nobody

[2022-02-24 23:32] #340 closed, assigned to nobody

[2022-02-24 23:32] #370 closed, assigned to nobody

[2022-02-24 23:32] #331 closed, assigned to nobody

[2022-02-24 23:32] #378 closed, assigned to nobody

[2022-02-24 23:32] #382 closed, assigned to nobody

[2022-02-24 23:32] #383 closed, assigned to nobody

[2022-02-24 23:32] #166 closed, assigned to nobody

[2022-02-24 23:32] #377 closed, assigned to nobody

[2022-02-24 23:32] #386 closed, assigned to nobody

[2022-02-24 23:32] #384 closed, assigned to nobody

[2022-02-24 23:32] #393 closed, assigned to nobody

[2022-02-25 00:32] #108 closed, assigned to nobody

[2022-02-25 00:32] #287 closed, assigned to nobody

[2022-02-25 00:32] #292 closed, assigned to nobody

[2022-02-25 00:32] #273 closed, assigned to nobody

[2022-02-25 00:32] #294 closed, assigned to nobody

[2022-02-25 00:32] #284 closed, assigned to nobody

[2022-02-25 00:32] #265 closed, assigned to nobody

[2022-02-25 00:32] #269 closed, assigned to nobody

[2022-02-25 00:36] BookOfGreg commented on #308
Yes it should be part of the gemspec for rswag-specs. PR welcome to any of the people who +1'ed this.

[2022-02-25 02:32] #145 closed, assigned to nobody

[2022-02-26 05:29] jtannas commented on #387
I'm trying to clear out our issue backlog so I'm going to close this issue under the assumption it's covered by our new Wiki: https://github.com/rswag/rswag/wiki/FAQ#why-isnt-rswag-validating-my-submitted-parameters

If I've misunderstood please feel free to open a fresh issue and I'll be happy to help :)

[2022-02-26 05:29] #387 closed, assigned to nobody

[2022-02-26 05:30] jtannas commented on #435
I'm trying to clear out our issue backlog to I'm going to close this ticket under the assumption that it's covered by our new wiki: https://github.com/rswag/rswag/wiki/FAQ#why-isnt-rswag-validating-my-submitted-parameters

If I've misunderstood then please open a new ticket and I'll be happy to help :)

[2022-02-26 05:30] #435 closed, assigned to nobody

[2022-02-26 05:40] jtannas commented on #412
Looks like this issue is pretty old and resolved. If it comes up again I'll put something in the wiki.

[2022-02-26 05:40] #412 closed, assigned to nobody

[2022-02-26 11:18] #401 closed, assigned to nobody

[2022-02-28 15:59] dbenfouzari commented on #314
It looks weird that no one gave an answer since May 2020.
I got this error too and don't know how to fix it.

[2022-02-28 16:08] dbenfouzari commented on #314
I managed to fix it by adding this piece of code in `app/controllers/application_controller.rb`

[code]

[2022-03-05 00:30] dollerbill commented on #454
@jtannas I added `required: true` like you mentioned but the only change is now I see that the entire body is required but still no individual parameters.

[code]
![Screen Shot 2022-03-04 at 4 21 11 PM](https://user-images.githubusercontent.com/11497835/156858892-77eb7fd2-ce49-4d1b-b4ff-073ed49d5224.png)

Based on my tests that have a parameter in the path vs the body it seems like only path attri

[2022-03-05 00:36] dollerbill commented on #466
@DeltaRazero My solution was to create a `contexts/swagger.rb` file, and in this context I have all Rswag test cases defined in individual shared examples (with shared context) for each route and status code.

In my existing controller specs I include the relevant Rswag examples with something like
[code]

[2022-03-05 03:16] jtannas commented on #454
I think just path parameters, query parameters, and header parameters will show up in there. The body itself shows up in the request body section.

[2022-03-05 04:27] SampsonCrowley commented on #48
this is a VERY obscure way of passing data... there should be a way to pass parameters directly to the request without requiring let definitions

[2022-03-05 06:48] dollerbill commented on #454
Ok, I must have misread your previous reply. This is the behavior I'm currently seeing so seems like everything is working as expected. Thanks!

[2022-03-07 02:36] jtannas commented on #454
Happy to help :)

[2022-03-07 02:36] #454 closed, assigned to nobody

[2022-03-09 10:38] spikeheap commented on #270
Hi @BookOfGreg, sorry for the slow reply. Your question coincided with becoming a parent, so I've been avoiding GitHub for a bit 😄.

Unfortunately I moved to another team not long after filing this issue, and since then the RSwag DSL has been removed from that project's tests :(. Sorry I don't have better news!

[2022-03-14 14:44] jalkoby commented on #205
Adding into Rakefile

[code]
will fix dry run

[2022-03-14 15:11] dominicsanto opened #504 "[BUG] FormData not rendering"
## Describe the bug
I am trying to render a multi-part form in order to add parameters to my post request.

## Steps to Test or Reproduce
I have the following configuration:

[code]

## Expected behavior
I expect to see a form where I can add my params and upload files that need to be submitted

## Additional context
Add any other context about the problem here.

## Rswag Version
2.5

## Relates t

[2022-03-18 03:03] taeyeob opened #505 "Rails generate rspec:swagger creating spec file only in request folder(not creating initializer folder) + output not matches json format"
Ruby version: 2.5.3
Rails version: 5.2.1

Since this is my first time using swagger in my project, I have searched through the internet several times and had read through the document.
I've recognized that initialized folder is created when generating rspec swagger, but the result I've got is spec.rb file created in requests folder(also newly created) to spec. This is my input and output:
`rails g

[2022-03-18 04:08] #505 closed, assigned to nobody

[2022-03-19 03:47] #268 closed, assigned to nobody

[2022-03-23 14:52] lucasmenezesds commented on #181
@BookOfGreg How can I help with that?

Because I'm facing the same problem.

IMO this is where it begins:
https://github.com/rswag/rswag/blob/5ea1670d79b93d363b0f4a735da92e29a0aa1efd/rswag-specs/lib/rswag/specs/request_factory.rb#L133

Since there's no `raw` option and there's only 2 options to convert the data (making a Hash or transforming it to JSON), when the data is sent, it's converting to t

[2022-03-24 08:18] Alagaesia93 commented on #390
Same issue here, is there any solution?

[2022-03-24 22:15] d3vr4ndOm opened #506 "RSpec is not taking the baseurl with api namespaces into account"
Hello there,

unfortunately I was not able to write my "specs" without specifying the full `path`.
If I set the `servers: [ { url: 'localhost:3000' } ]` and specify the full `path '/api/v1/my_endpoint` in the spec, everything works as expected:
* bundle exec rspec spec/integration/* -> succeeds
* RAILS_ENV=test bundle exec rswag -> succeeds
* UI shows `Servers: http://localhost:3000` and endpoints

[2022-03-25 01:16] qbantek commented on #329
I am observing the same issue (using version 2.5.1)

[2022-04-02 18:09] seanstory commented on #343
This issue is still relevant. Please remove the "wontfix" label unless there is a reason why you would not support `requestBody` and document how to set it.

[2022-04-03 06:50] sg552 commented on #128
I met the same problem.

Rails6.1.5, Ruby3.0.3,
rswag-api  2.5.1
rswag-ui 2.5.1
rswag-specs 2.5.1

any ideas?

[2022-04-03 06:59] sg552 commented on #192
the error message is saying it doesn't have any test example. and it can not load `rails_helper`

so first of all, you have to add spec to rails ( see rspec-rails and rspec gem for details )
then, you have to write integeration spec test cases to rails,
then, you can run 'rswag:specs:swaggerize' command to generate swagger (yml or json) files
then, you can visit '/api/docs' , to see a UI page like

[2022-04-04 03:21] nolan23 opened #509 "[BUG] Rswag failed to parse json body in GET method"
## Describe the bug
If we use GET method in rswag and we also add parameter body, the parameter that we send is not properly parsed in controller

## Steps to Test or Reproduce
given this code:
[code]

but in controller, the product_id is not properly parsed. here is the param log
[code]

as you can see the product_id parsed into `"{\"product_id\":1}":null`

## Expected behavior
If the body proper

[2022-04-06 09:12] momnanaseer commented on #74
I was using wrong name for auth token in swagger helper I was using Bearer for security and in spec file I was using BearerAuth, that's why it gives me nil every time.
My swagger helper code:
[code]

My specs file code:

`security [**Bearer**: []]`

[2022-04-06 10:56] AlexWayfer commented on #423
I don't understand the approach and would like to hear answers from maintainers. It should not work in this way.

[2022-04-06 11:07] AlexWayfer commented on #290
It doesn't affect anything related to the issue.

[2022-04-06 21:22] BookOfGreg commented on #423
@AlexWayfer what's the problem?

[2022-04-06 22:16] AlexWayfer commented on #423
I've already found the similar open issue: #290

[2022-04-14 09:00] rgisiger commented on #380
Request examples as implemented by kriston-costa works as expected.
Why not doing a Pull Request for that or adding it directly ?

I vote for it but I have no time to implement this at the moment.

[2022-04-15 19:33] #413 closed, assigned to nobody

[2022-04-18 21:50] JSimon14 commented on #509
I'm seeing this same bug. Hopefully it gets sorted out soon.

[2022-04-21 01:11] igorgesso opened #510 "Disable sending root params"
## Is your feature request related to a problem? Please describe.

Is there a way to disable swag from sending root params.
Ex: I have a Billet model and a BillerController controller.
If I try to send
[code]

Rswag automatically sends root params
[code]

## Describe the solution you'd like

I would like to disable this behavior like this
config.send_root_params = false

## What support could we g

[2022-04-28 12:28] cenotaph opened #511 "[BUG] Autosaving response examples still does not work"
I have been an rswag fan for some time but have always struggled to consistently capture examples automatically, both request and response types. Documentation for this has changed over time with various versions, but as of the latest release (2.5.1), the documentation states "However, auto generated example responses are now enabled by default in rswag."

It is not, however; immediately following

[2022-04-29 12:04] venkikg opened #514 "[REQUEST] CVE GHSA-qrmm-w75w-3wpx has been discovered in rswag gem."
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
CVE GHSA-qrmm-w75w-3wpx is showing up in rswag gem, but there are no possible solutions online. I updated the gem version to the most recent, 2.5, but the CVE remains in the report. So, could you please assist me in resolving this issue as soon as possible?

## Describe the sol

[2022-05-03 08:23] #376 closed, assigned to nobody

[2022-05-03 15:59] jtannas commented on #514
@BookOfGreg @sergioisidoro

[2022-05-03 22:06] asavageiv commented on #511
I was able to work around this by setting the env variable `SWAGGER_DRY_RUN=0`

[2022-05-03 22:12] asavageiv commented on #511
Just kidding. That gets the tests to run, but does not auto-generate the examples

[2022-05-03 22:26] asavageiv commented on #511
I think this is a dupe of #337

[2022-05-03 23:15] al3rez commented on #130
Thanks for posting this.

[2022-05-04 13:05] sergioisidoro commented on #514
This would be fixed by merging https://github.com/rswag/rswag/pull/476, since 4.1.3 is already a patched version.
From the compatibility notes 4.x should still support the OAS 2.0 although we're also about to drop it.

I can try to make sure that #476 doesn't break anything merge and make a release.

[2022-05-04 16:36] jtannas commented on #514
Thank you :bow:
I've got more free time now than the last 2 months, so just let me know if there's anything I can lend a hand with.

[2022-05-04 16:48] jtannas commented on #403
Closing since it looks like the issue has been addressed by the PR that was merged yesterday.
New release should be relatively soon.
Thanks for contributing :)

[2022-05-04 16:48] #403 closed, assigned to nobody

[2022-05-07 07:24] w1t3k commented on #207
Even better if someone wants to pass any arguments like `record` etc. You can do
[code]
then you can make a call
[code]
more VCR params here https://rdrr.io/cran/vcr/man/use_cassette.html

[2022-05-09 06:56] venkikg commented on #514
Could you please tell me when the issue fix will be available? Because this is an issue with one of our client deployments.

[2022-05-11 18:03] sergioisidoro commented on #514
@venkikg The issue should be resolved in master, but we haven't released the fixe to rubygems yet. If this is a critical issue for your client consider installing the gem directly from github for the time being (https://bundler.io/guides/git.html). Also note from the CVE that the impact of the vulnerability is quite restricted although it is categorised as "Moderate". Remember to evaluate the thre

[2022-05-11 18:03] #514 closed, assigned to sergioisidoro

[2022-05-11 18:32] fabiaepv commented on #130
no need to monkey-patch you can add a :root parameter in body like someone said in the comments before and when you need to assign a value to a specific key like amount you can set it like this:

[code]

and if you need to do some testing with different values you can work only with the amount, asset_id and target_address variables.. root it will always stay like that..

Hope it was helpful!! ✌️

[2022-05-16 15:06] jsugarman opened #519 "[REQUEST] enable global or spec setting of accept header"
## Is your feature request related to a problem? Please describe.
We version via the accept header, for example `accept: application/json;version=4`. I cannot find a way to amend the swagger_helper.rb or individuals specs to allow for supplying a version in the accept header.

A manual hack of the generated `swagger.yaml` works:
[code]

## Describe the solution you'd like
Ideally this would be def

[2022-05-16 15:33] #262 closed, assigned to nobody

[2022-05-19 17:05] lucasocon commented on #511
If you want to generate documentation with examples you can run:
`rake rswag:specs:swaggerize SWAGGER_DRY_RUN=0`

If you want to generate examples without passing the env variable you can add this to your `config/environments/test.rb`

[code]

Don't forget to add these lines to your specs to include examples:

[code]

Link to doc: https://github.com/rswag/rswag#enable-auto-generation-examples-from

[2022-05-19 17:07] lucasocon commented on #337
I left this comment with some information and a link to the doc:
https://github.com/rswag/rswag/issues/511#issuecomment-1131966609

Is this issue solved and could be closed?

[2022-05-19 21:08] slayer commented on #174
any news?

[2022-05-20 12:49] haxxanali512 opened #522 "Rswag specs failing for rspec"
I am having a very strange issue while documenting the APIs with rswag. I have 15 rswag API documents that has been tested and they are working fine. But when I run the Rspec for login spec to see If it works or not. It throws an error saying invalid url(error is attached).
And for other APIs the error is invalid method X-API-TOKEN. Although I have handled this on backend for Authorization and X-A

[2022-05-20 14:17] kwstannard opened #523 "This line creates a circular dependency"
Hi rswag team,

I ran into an error caused by the circular dependency while trying to extend swagger_formatter to add a leading comment to the swagger.yaml file.

https://github.com/rswag/rswag/blob/8a6ebbef9777ae2d81dfc13f950d41270ebe621f/rswag-specs/lib/rswag/specs/swagger_formatter.rb#L5

The app depends on rswag-specs, but swagger_helper lives in the app which means that rswag-specs depends on

[2022-05-23 12:38] olleolleolle commented on #522
Perhaps you can provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), to aid finding the issue?

[2022-05-24 06:06] haxxanali512 commented on #522
@olleolleolle Yeah sure. Here is the code for a single rspec test case for login that i am trying to run:

    post 'Login user' do
      tags 'Users Authentication'
      consumes 'application/json'

      parameter name: :user, in: :query, schema: {
        type: :object,
        properties: {
          user: {
            type: :object,
            properties:{
              email: { type: :str

[2022-05-24 12:05] dostapn commented on #318
+1

[2022-05-27 11:59] sergioisidoro commented on #279
Not stale

[2022-05-28 01:03] #427 closed, assigned to nobody

[2022-05-31 05:59] ankita-agr opened #524 "[REQUEST] Choose from same response code which response should display in swagger UI"
## Is your feature request related to a problem? Please describe.
Here, I have around 1800 request specs written for this project and when i try to see documentation for this API call, it always pick the last response example in UI. Is there any way to select which response should display in swagger UI?
[code]
![Swagger-UI](https://user-images.githubusercontent.com/83596507/171098565-326c416c-bc59